%global sname oslo.config

Name:          {{ py2name('oslo.config') }}
Version:       3.10.0
Release:       0
Summary:       OpenStack common configuration library
Group:         Development/Languages
License:       {{ license('Apache-2.0') }}
Url:           https://launchpad.net/%{sname}
Source0:       https://pypi.io/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires: openstack-macros
BuildRequires: python-devel
BuildRequires: {{ py2pkg('debtcollector') }}
BuildRequires: {{ py2pkg('six') }}
BuildRequires: {{ py2pkg('netaddr') }}
BuildRequires: {{ py2pkg('stevedore') }}
BuildRequires: {{ py2pkg('fixtures') }}
BuildRequires: {{ py2pkg('mock') }}
BuildRequires: {{ py2pkg('oslo.i18n') }}
BuildRequires: {{ py2pkg('oslotest') }}
BuildRequires: {{ py2pkg('pbr') }}
BuildRequires: {{ py2pkg('python-subunit') }}
BuildRequires: {{ py2pkg('testrepository') }}
BuildRequires: {{ py2pkg('testscenarios') }}
BuildRequires: {{ py2pkg('testtools') }}
Requires:      {{ py2pkg('debtcollector') }}
Requires:      {{ py2pkg('netaddr') }}
Requires:      {{ py2pkg('six') }}
Requires:      {{ py2pkg('stevedore') }}
BuildArch:     noarch

%description
The Oslo project intends to produce a python library containing
infrastructure code shared by OpenStack projects. The APIs provided
by the project should be high quality, stable, consistent and generally
useful.

The oslo-config library is a command line and configuration file
parsing library from the Oslo project.


%package doc
Summary:       Documentation for OpenStack common configuration library
BuildRequires: {{ py2pkg('oslosphinx') }}
BuildRequires: {{ py2pkg('Sphinx') }}

%description doc
Documentation for the oslo-config library.

%prep
%setup -q -n %{sname}-%{version}

%build
%{__python2} setup.py build

%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{__python2} setup.py install --prefix=%{_prefix} --root=%{buildroot}

%check
%{__python2} setup.py testr

%files
%doc README.rst
%license LICENSE
%{_bindir}/oslo-config-generator
%{python2_sitelib}/oslo_config
%{python2_sitelib}/*.egg-info

%files doc
%doc doc/build/html
%license LICENSE

%changelog
