%global sname oslo.config

Name:          {{ py2name('oslo.config') }}
Version:       3.9.0
Release:       0
Summary:       OpenStack common configuration library
Group:         Development/Languages
License:       {{ 'Apache-2.0' | license }}
Url:           https://launchpad.net/%{sname}
Source0:       https://pypi.python.org/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires: openstack-macros
BuildRequires: python-devel
BuildRequires: {{ py2pkg('debtcollector', ('>=', '1.2.0')) }}
BuildRequires: {{ py2pkg('discover') }}
BuildRequires: {{ py2pkg('fixtures', ('>=', '1.3.1')) }}
BuildRequires: {{ py2pkg('mock', ('>=', '1.2')) }}
BuildRequires: {{ py2pkg('oslo.i18n', ('>=', '2.1.0')) }}
BuildRequires: {{ py2pkg('oslotest', ('>=', '1.10.0')) }}
BuildRequires: {{ py2pkg('pbr', ('>=', '1.6')) }}
BuildRequires: {{ py2pkg('python-subunit', ('>=', '0.0.18')) }}
BuildRequires: {{ py2pkg('setuptools') }}
BuildRequires: {{ py2pkg('testrepository', ('>=', '0.0.18')) }}
BuildRequires: {{ py2pkg('testscenarios', ('>=', '0.4')) }}
BuildRequires: {{ py2pkg('testtools', ('>=', '1.4.0')) }}
Requires:      {{ py2pkg('debtcollector', ('>=', '1.2.0')) }}
Requires:      {{ py2pkg('netaddr', ('>=', '0.7.12')) }}
Requires:      {{ py2pkg('six', ('>=', '1.9.0')) }}
Requires:      {{ py2pkg('stevedore', ('>=', '1.5.0')) }}
BuildArch:     noarch

%description
The Oslo project intends to produce a python library containing
infrastructure code shared by OpenStack projects. The APIs provided
by the project should be high quality, stable, consistent and generally
useful.

The oslo-config library is a command line and configuration file
parsing library from the Oslo project.


%package doc
Summary:       Documentation for OpenStack common configuration library
BuildRequires: {{ py2pkg('netaddr', ('>=', '0.7.12')) }}
BuildRequires: {{ py2pkg('oslosphinx', ('>=', '2.5.0')) }}
BuildRequires: {{ py2pkg('Sphinx', ('>=', '1.1.2')) }}
BuildRequires: {{ py2pkg('stevedore', ('>=', '1.5.0')) }}

%description doc
Documentation for the oslo-config library.

%prep
%setup -q -n %{sname}-%{version}

%build
%{__python2} setup.py build
# disabling git call for last modification date from git repo
sed '/^html_last_updated_fmt.*/,/.)/ s/^/#/' -i doc/source/conf.py

%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{__python2} setup.py install --prefix=%{_prefix} --root=%{buildroot}

%check
%{__python2} setup.py testr

%files
%doc README.rst
%license LICENSE
%{_bindir}/oslo-config-generator
%{python2_sitelib}/oslo_config
%{python2_sitelib}/*.egg-info

%files doc
%doc doc/build/html
%license LICENSE

%changelog
