
Name:           {{ py2name('python-solumclient') }}
Version:        2.5.0
Release:        0
Summary:        Python API and CLI for OpenStack Solum
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            http://launchpad.net/%{name}
Source0:        https://files.pythonhosted.org/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PrettyTable') }}
BuildRequires:  {{ py2pkg('PyYAML') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('httplib2') }}
BuildRequires:  {{ py2pkg('jsonschema') }}
BuildRequires:  {{ py2pkg('python-keystoneclient') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('PyYAML') }}
Requires:       {{ py2pkg('httplib2') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('jsonschema') }}
Requires:       {{ py2pkg('python-keystoneclient') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
BuildArch:      noarch

%description
Client library for Solum built on the Solum API. It provides a Python API
(the solumclient module) and a command-line tool (solum).

%package doc
Summary:        Documentation for OpenStack Solum API client libary
Group:          Documentation/HTML
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description doc
Client library for Solum built on the Solum API. It provides a Python API
(the solumclient module) and a command-line tool (solum).
This package contains the documentation.

%prep
%autosetup -n %{name}-%{version}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%py2_build

# Build HTML docs and man page
%{__python2} setup.py build_sphinx
rm -rf html/.{doctrees,buildinfo}

%install
%py2_install

%check
# TODO(jpena): do not ignore tests once we have a patched python 2.7.5
# We are hitting http://bugs.python.org/issue18015 with two tests
if  [[ $(python --version 2>&1 | awk '{print $2}') == '2.7.5' ]];
then
    %{__python2} setup.py testr ||:
else
    %{__python2} setup.py testr
fi

%files
%doc README.rst
%license LICENSE
%{python2_sitelib}/solumclient
%{python2_sitelib}/*.egg-info
%{_bindir}/solum
%{_bindir}/solum-app-setup.py

%files doc
%doc doc/build/html
%license LICENSE

%changelog
