[Unit]
Description=Provides the OpenStack Octavia driver agent
After=syslog.target network.target

[Service]
Type=simple
User=octavia
Group=octavia
WorkingDirectory=/var/lib/octavia
ExecStart=/usr/bin/octavia-driver-agent
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
