[Unit]
Description=Provides the OpenStack Octavia housekeeping
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=octavia
Group=octavia
WorkingDirectory=/var/lib/octavia
ExecStart=/usr/bin/octavia-housekeeping
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
