%global sname os-win
Name:           {{ py2name('os-win') }}
Epoch:          {{ epoch('os-win') }}
Version:        2.2.0
Release:        0
Summary:        Hyper-V library for OpenStack projects
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://launchpad.net/%{sname}
Source0:        https://pypi.io/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('ddt') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('eventlet') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('oslo.concurrency') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.service') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
BuildArch:      noarch

%description
Library contains Windows / Hyper-V code commonly used in the OpenStack projects:
nova, cinder, networking-hyperv.

%package doc
Summary:        Documentation for OpenStack Windows/Hyper-V Library
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description doc
Documentation for the Hyper-V library.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup
# we dont want to run the hacking tests again (and dont want the needed deps)
rm -f os_win/tests/unit/test_hacking.py
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{py2_build}
%{__python2} setup.py build_sphinx --builder=html,man
rm -rf html/.{doctrees,buildinfo}

%install
%{py2_install}
install -p -D -m 644 doc/build/man/os-win.1 %{buildroot}/%{_mandir}/man1/os-win.1

%check
%{__python2} setup.py test

%files
%doc README.rst ChangeLog
%license LICENSE
%{python2_sitelib}/os_win*
%{python2_sitelib}/*.egg-info
%{_mandir}/man1/os-win.1*

%files doc
%doc doc/build/html
%license LICENSE

%changelog
