{% set pypi_name = 'masakari' %}
{% set source = fetch_source('http://tarballs.openstack.org/masakari/masakari-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
Name:           {{ py2name('masakari') }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Virtual Machine High Availability (VMHA) service for OpenStack
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/masakari
Source0:        {{ source|basename }}
Source1:        masakari-api.service
Source2:        masakari-engine.service
Source3:        masakari.tmpfiles
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('ddt') }}
BuildRequires:  {{ py2pkg('eventlet') }}
BuildRequires:  {{ py2pkg('keystoneauth1') }}
BuildRequires:  {{ py2pkg('keystonemiddleware') }}
BuildRequires:  {{ py2pkg('microversion_parse') }}
BuildRequires:  {{ py2pkg('python-novaclient') }}
BuildRequires:  {{ py2pkg('oslo.db') }}
BuildRequires:  {{ py2pkg('oslo.messaging') }}
BuildRequires:  {{ py2pkg('oslo.middleware') }}
BuildRequires:  {{ py2pkg('oslo.policy') }}
BuildRequires:  {{ py2pkg('oslo.service') }}
BuildRequires:  {{ py2pkg('oslo.versionedobjects') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('reno') }}
BuildRequires:  {{ py2pkg('requests-mock') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('taskflow') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testresources') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       python-masakari = %{version}-%{release}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%else
BuildRequires:  systemd
%endif

%description
Masakari is a service providing high availability for VMs in OpenStack.

System package - %{name}
Python package - python-%{sname}

%package        doc
Summary:        Documentation for OpenStack Masakari Service
BuildRequires:  {{ py2pkg('Tempest') }}
BuildRequires:  {{ py2pkg('WSME') }}
BuildRequires:  {{ py2pkg('jsonschema') }}
BuildRequires:  {{ py2pkg('networkx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('paramiko') }}
BuildRequires:  {{ py2pkg('pecan') }}
BuildRequires:  {{ py2pkg('pep8') }}
BuildRequires:  {{ py2pkg('sphinxcontrib-httpdomain') }}
BuildRequires:  {{ py2pkg('sphinxcontrib-pecanwsme') }}
BuildRequires:  {{ py2pkg('yaql') }}

%description    doc
Masakari is a service providing high availability for VMs in OpenStack.

This package contains the documentation.

%package -n     python-%{sname}
Summary:        Masakari Python libraries
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('jsonschema') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('keystonemiddleware') }}
Requires:       {{ py2pkg('microversion_parse') }}
Requires:       {{ py2pkg('python-novaclient') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.db') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.messaging') }}
Requires:       {{ py2pkg('oslo.middleware') }}
Requires:       {{ py2pkg('oslo.policy') }}
Requires:       {{ py2pkg('oslo.service') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('oslo.versionedobjects') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
Requires:       {{ py2pkg('taskflow') }}

%description -n python-%{sname}
Masakari is a service providing high availability for VMs in OpenStack.

This package contains the Python libraries.

%package        api
Summary:        OpenStack Masakari API service
Requires:       %{name} = %{version}

%description    api
OpenStack REST API to the Masakari api.

This package contains the REST API.

%package        engine
Summary:        OpenStack Masakari Engine service
Requires:       %{name} = %{version}

%description    engine
OpenStack Masakari Engine service.

This package contains the masakari engine, which is one of core services of masakari.

%prep
%autosetup -n %{sname}-{{upstream_version}}
%py_req_cleanup

%build
%{py2_build}
export PYTHONPATH="."
# from tox.ini's testenv:genconfig
oslo-config-generator --config-file etc/masakari/masakari-config-generator.conf

%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}


%install
%{py2_install}

mkdir -p %{buildroot}%{_sysconfdir}/masakari/
mkdir -p %{buildroot}%{_localstatedir}/log/masakari
#systemd unitfiles
install -p -D -m 644 %SOURCE1 %{buildroot}%{_unitdir}/openstack-masakari-api.service
install -p -D -m 644 %SOURCE2 %{buildroot}%{_unitdir}/openstack-masakari-engine.service
install -p -D -m 644 %SOURCE3 %{buildroot}/%{_tmpfilesdir}/masakari.conf

install -p -D -m 640 etc/masakari/masakari.conf.sample %{buildroot}%{_sysconfdir}/masakari/masakari.conf
install -p -D -m 640 etc/masakari/api-paste.ini %{buildroot}%{_sysconfdir}/masakari/api-paste.ini
install -p -D -m 640 etc/masakari/policy.json %{buildroot}%{_sysconfdir}/masakari/policy.json
chmod +x %{buildroot}%{_bindir}/masakari*

%pre
%openstack_pre_user_group_create masakari masakari

%post
%tmpfiles_create %{_tmpfilesdir}/masakari.conf

%check
testr init
testr list-tests > list
testr run --load-list=list

%post api
%systemd_post openstack-masakari-api.service

%preun api
%systemd_preun openstack-masakari-api.service

%postun api
%systemd_postun_with_restart openstack-masakari-api.service

%post engine
%systemd_post openstack-masakari-engine.service

%preun engine
%systemd_preun openstack-masakari-engine.service

%postun engine
%systemd_postun_with_restart openstack-masakari-engine.service

%files
%license LICENSE
%dir %{_sysconfdir}/masakari
%config(noreplace) %attr(0640, root, masakari) %{_sysconfdir}/masakari/*
%dir %attr(755, masakari, masakari) %{_localstatedir}/log/masakari
%_tmpfilesdir/masakari.conf

%files api
%{_bindir}/masakari-api
%{_bindir}/masakari-manage
%{_unitdir}/openstack-masakari-api.service

%files engine
%{_bindir}/masakari-engine
%{_unitdir}/openstack-masakari-engine.service

%files doc
%license LICENSE
%doc doc/build/html

%files -n python-%{sname}
%{python2_sitelib}/%{sname}*

%changelog
