%global sname XStatic-JQuery-Migrate
Name:           {{ py2name('XStatic-JQuery-Migrate') }}
Version:        1.2.1.1
Release:        0
Summary:        JQuery-Migrate %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
Url:            https://git.openstack.org/cgit/openstack/xstatic-jquery-migrate
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
JQuery-Migrate JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_JQuery_Migrate-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_JQuery_Migrate-%{version}-py?.?-nspkg.pth

%changelog
