{% set pypi_name = 'neutron' %}
{% set source = fetch_source('https://tarballs.openstack.org/neutron/neutron-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}
%global with_doc 1
%if 0%{?rhel} || 0%{?fedora}
%global rdo 1
%endif
Name:           {{ py2name() }}
Epoch:          {{ epoch('neutron') }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Networking Service (Neutron)
License:        {{ license('Apache-2.0') }}
URL:            https://launchpad.net/neutron
Source0:        {{ source|basename }}
Source1:        openstack-neutron.logrotate
Source2:        neutron-sudoers
Source3:        neutron-server.service
Source4:        neutron-linuxbridge-agent.service
Source5:        neutron-openvswitch-agent.service
Source6:        neutron-dhcp-agent.service
Source7:        neutron-l3-agent.service
Source8:        neutron-metadata-agent.service
Source9:        neutron-macvtap-agent.service
Source10:       neutron-metering-agent.service
Source11:       neutron-sriov-nic-agent.service
Source12:       neutron-rpc-server.service
Source13:       neutron-server.defaultconf
Source14:       neutron-server.README.config
Source15:       neutron-enable-bridge-firewall.sh
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('PyMySQL') }}
BuildRequires:  {{ py3('WebTest') }}
BuildRequires:  {{ py3('ddt') }}
BuildRequires:  {{ py3('devel') }}
BuildRequires:  {{ py3('fixtures') }}
BuildRequires:  {{ py3('httplib2') }}
BuildRequires:  {{ py3('keystoneauth1') }}
BuildRequires:  {{ py3('keystonemiddleware') }}
BuildRequires:  {{ py3('mock') }}
BuildRequires:  {{ py3('neutron-lib') }}
# TODO
# BuildRequires:  {{ py3('python-designateclient') }}
BuildRequires:  {{ py3('python-neutronclient') }}
BuildRequires:  {{ py3('python-novaclient') }}
BuildRequires:  {{ py3('os-ken') }}
BuildRequires:  {{ py3('os-xenapi') }}
BuildRequires:  {{ py3('oslo.cache') }}
BuildRequires:  {{ py3('oslo.privsep') }}
BuildRequires:  {{ py3('oslo.reports') }}
BuildRequires:  {{ py3('oslo.rootwrap') }}
BuildRequires:  {{ py3('oslo.versionedobjects') }}
BuildRequires:  {{ py3('oslotest') }}
BuildRequires:  {{ py3('osprofiler') }}
BuildRequires:  {{ py3('ovs') }}
BuildRequires:  {{ py3('ovsdbapp') }}
BuildRequires:  {{ py3('pecan') }}
BuildRequires:  {{ py3('pyroute2') }}
BuildRequires:  {{ py3('python-subunit') }}
BuildRequires:  {{ py3('reno') }}
# BuildRequires:  {{ py3('Tempest') }}
BuildRequires:  {{ py3('testrepository') }}
BuildRequires:  {{ py3('testresources') }}
BuildRequires:  {{ py3('testtools') }}
BuildRequires:  sudo
Requires:       python3-{{ pypi_name }} = %{epoch}:%{version}-%{release}
Requires:       sudo
Provides:       {{ py2name('neutron') }}-dhcp-agent = %{version}-%{release}
Provides:       {{ py2name('neutron') }}-l3-agent = %{version}-%{release}
Provides:       {{ py2name('neutron') }}-metadata-agent = %{version}-%{release}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%{?systemd_requires}
%else
BuildRequires:  systemd
Requires(post): systemd
Requires(postun): systemd
Requires(preun): systemd
%endif

%description
Neutron is a virtual network service for Openstack.

This package contains the base supporting files.

%package -n python3-{{ pypi_name }}
Summary:        Neutron Python libraries
Group:          Applications/System
Requires:       {{ py3('Jinja2') }}
Requires:       {{ py3('Paste') }}
Requires:       {{ py3('PasteDeploy') }}
Requires:       {{ py3('Routes') }}
Requires:       {{ py3('SQLAlchemy') }}
Requires:       {{ py3('WebOb') }}
Requires:       {{ py3('alembic') }}
Requires:       {{ py3('debtcollector') }}
Requires:       {{ py3('python-designateclient') }}
Requires:       {{ py3('eventlet') }}
Requires:       {{ py3('httplib2') }}
Requires:       {{ py3('keystoneauth1') }}
Requires:       {{ py3('keystonemiddleware') }}
Requires:       {{ py3('netaddr') }}
Requires:       {{ py3('netifaces') }}
Requires:       {{ py3('neutron-lib') }}
Requires:       {{ py3('python-neutronclient') }}
Requires:       {{ py3('python-novaclient') }}
Requires:       {{ py3('os-ken') }}
Requires:       {{ py3('os-xenapi') }}
Requires:       {{ py3('oslo.cache') }}
Requires:       {{ py3('oslo.concurrency') }}
Requires:       {{ py3('oslo.config') }}
Requires:       {{ py3('oslo.context') }}
Requires:       {{ py3('oslo.db') }}
Requires:       {{ py3('oslo.i18n') }}
Requires:       {{ py3('oslo.log') }}
Requires:       {{ py3('oslo.messaging') }}
Requires:       {{ py3('oslo.middleware') }}
Requires:       {{ py3('oslo.policy') }}
Requires:       {{ py3('oslo.privsep') }}
Requires:       {{ py3('oslo.reports') }}
Requires:       {{ py3('oslo.rootwrap') }}
Requires:       {{ py3('oslo.serialization') }}
Requires:       {{ py3('oslo.service') }}
Requires:       {{ py3('oslo.utils') }}
Requires:       {{ py3('oslo.versionedobjects') }}
Requires:       {{ py3('osprofiler') }}
Requires:       {{ py3('ovs') }}
Requires:       {{ py3('ovsdbapp') }}
Requires:       {{ py3('pbr') }}
Requires:       {{ py3('pecan') }}
Requires:       {{ py3('psutil') }}
Requires:       {{ py3('pyroute2') }}
Requires:       {{ py3('requests') }}
Requires:       {{ py3('six') }}
Requires:       {{ py3('stevedore') }}
Requires:       {{ py3('tenacity') }}

%description -n   python3-{{ pypi_name }}
Neutron is a virtual network service for Openstack.

This package contains the Neutron Python library.

%package api
Summary:        Neutron API server
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description api
Neutron is a virtual network service for Openstack.

This package contains the Neutron API server.

%package linuxbridge
Summary:        Neutron Linuxbridge agent
Requires:       /sbin/modprobe
Requires:       bridge-utils
Requires:       ebtables
Requires:       ipset
Requires:       iptables
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description linuxbridge
Neutron is a virtual network service for Openstack.

This package contains the Neutron agent that implements virtual
networks using VLAN or VXLAN using Linuxbridge technology.

%package macvtap-agent
Summary:        Neutron macvtap agent
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description macvtap-agent
Neutron is a virtual network service for Openstack.

This package contains the Neutron agent that implements
macvtap attachments for libvirt qemu/kvm instances.

%package ml2
Summary:        Neutron ML2 plugin
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description ml2
Neutron is a virtual network service for Openstack.

This package contains a Neutron plugin that allows the use of drivers
to support separately extensible sets of network types and the mechanisms
for accessing those types.

%package openvswitch
Summary:        Neutron openvswitch plugin
Requires:       /sbin/modprobe
Requires:       ipset
Requires:       iptables
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}
Requires:       openvswitch

%description openvswitch
Neutron is a virtual network service for Openstack.

This package contains the Neutron plugin that implements virtual
networks using Open vSwitch.

%package metering-agent
Summary:        Neutron bandwidth metering agent
Requires:       iptables
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description metering-agent
Neutron is a virtual network service for Openstack.

This package contains the Neutron agent responsible for generating bandwidth
utilization notifications.

%package rpc-server
Summary:        Neutron (RPC only) Server
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description rpc-server
Neutron is a virtual network service for Openstack.

This package contains an alternative Neutron server that handles AMQP RPC
workload only.

%package sriov-nic-agent
Summary:        Neutron SR-IOV NIC agent
Requires:       {{ py2name() }} = %{epoch}:%{version}-%{release}

%description sriov-nic-agent
Neutron is a virtual network service for Openstack.

This package contains the Neutron agent to support advanced features of
SR-IOV network cards.

%if 0%{?with_doc}
%package doc
Summary:        Documentation for OpenStack Networking Service
Group:          Documentation/HTML
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('openstackdocstheme') }}
BuildRequires:  {{ py3('tenacity') }}

%description doc
OpenStack Neutron documentaion.

This package contains the documentation
%endif

%prep
%autosetup -p1 -n {{ pypi_name }}-{{upstream_version}}
%py_req_cleanup

%build
%py3_build

%if 0%{?with_doc}
# generate html docs
PYTHONPATH=$PWD PBR_VERSION={{ upstream_version }} %sphinx_build --keep-going -b html doc/source doc/build/html
# remove the Sphinx-build leftovers
rm -rf html/.{doctrees,buildinfo}
%endif

# Generate configuration files
PYTHONPATH=. tools/generate_config_file_samples.sh
find etc -name *.sample | while read filename
do
    filedir=$(dirname $filename)
    file=$(basename $filename .sample)
    mv ${filename} ${filedir}/${file}
done

%install
%py3_install

# Move rootwrap files to proper location
install -d -m 755 %{buildroot}%{_datarootdir}/{{ pypi_name }}/rootwrap
mv %{buildroot}%{_prefix}%{_sysconfdir}/{{ pypi_name }}/rootwrap.d/*.filters %{buildroot}%{_datarootdir}/{{ pypi_name }}/rootwrap

# Move config files to proper location
install -d -m 755 %{buildroot}%{_sysconfdir}/{{ pypi_name }}
mv %{buildroot}%{_prefix}%{_sysconfdir}/{{ pypi_name }}/* %{buildroot}%{_sysconfdir}/{{ pypi_name }}
install -p -D -m 640 etc/api-paste.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/api-paste.ini
install -p -D -m 640 etc/l3_agent.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/l3_agent.ini
install -p -D -m 640 etc/dhcp_agent.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/dhcp_agent.ini
install -p -D -m 640 etc/metadata_agent.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/metadata_agent.ini
install -d -m 755 %{buildroot}%{_sysconfdir}/{{ pypi_name }}.conf.d
install -D -m 640 %{SOURCE13} %{buildroot}/%{_sysconfdir}/{{ pypi_name }}/{{ pypi_name }}.conf.d/010-neutron.conf
install -D -m 440 %{SOURCE14} %{buildroot}/%{_sysconfdir}/{{ pypi_name }}/README.config


# The generated config files are not moved automatically by setup.py
install -d -m 755 %{buildroot}%{_sysconfdir}/{{ pypi_name }}/plugins/ml2

mv etc/{{ pypi_name }}.conf %{buildroot}%{_sysconfdir}/{{ pypi_name }}/{{ pypi_name }}.conf
for agent in dhcp l3 metadata metering
do
  mv etc/${agent}_agent.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/${agent}_agent.ini
done

for file in linuxbridge_agent ml2_conf openvswitch_agent sriov_agent
do
  mv etc/{{ pypi_name }}/plugins/ml2/${file}.ini %{buildroot}%{_sysconfdir}/{{ pypi_name }}/plugins/ml2/${file}.ini
done

# Install logrotate
install -p -D -m 644 %{SOURCE1} %{buildroot}%{_sysconfdir}/logrotate.d/openstack-neutron.logrotate

# Install sudoers
install -p -D -m 440 %{SOURCE2} %{buildroot}%{_sysconfdir}/sudoers.d/{{ pypi_name }}

# Install systemd units
install -p -D -m 644 %{SOURCE3} %{buildroot}%{_unitdir}/neutron-server.service
install -p -D -m 644 %{SOURCE4} %{buildroot}%{_unitdir}/neutron-linuxbridge-agent.service
install -p -D -m 644 %{SOURCE5} %{buildroot}%{_unitdir}/neutron-openvswitch-agent.service
install -p -D -m 644 %{SOURCE6} %{buildroot}%{_unitdir}/neutron-dhcp-agent.service
install -p -D -m 644 %{SOURCE7} %{buildroot}%{_unitdir}/neutron-l3-agent.service
install -p -D -m 644 %{SOURCE8} %{buildroot}%{_unitdir}/neutron-metadata-agent.service
install -p -D -m 644 %{SOURCE9} %{buildroot}%{_unitdir}/neutron-macvtap-agent.service
install -p -D -m 644 %{SOURCE10} %{buildroot}%{_unitdir}/neutron-metering-agent.service
install -p -D -m 644 %{SOURCE11} %{buildroot}%{_unitdir}/neutron-sriov-nic-agent.service
install -p -D -m 644 %{SOURCE12} %{buildroot}%{_unitdir}/neutron-rpc-server.service

# Install helper scripts
install -p -D -m 755 %{SOURCE15} %{buildroot}%{_bindir}/neutron-enable-bridge-firewall.sh

# Create configuration directories for all services that can be populated by users with custom *.conf files
for service in neutron server rpc-server ovs-cleanup netns-cleanup linuxbridge-cleanup macvtap-agent; do
    mkdir -p %{buildroot}/%{_sysconfdir}/{{ pypi_name }}/$service.conf.d
done
for service in linuxbridge openvswitch dhcp l3 metadata metering sriov-nic; do
    mkdir -p %{buildroot}/%{_sysconfdir}/{{ pypi_name }}/$service-agent.conf.d
done


%pre
%openstack_pre_user_group_create neutron neutron
exit 0

%check
# don't want to depend on hacking for package building
rm neutron/tests/unit/hacking/test_checks.py
# FIXME(jpena): Reduce the number of unit tests, we have issues when testing time goes > 1h
# FIXME(dmllr): Currently fail
# OS_TEST_PATH=./neutron/tests/unit ostestr --black-regex '(neutron.tests.unit.objects|neutron.tests.unit.plugins)'

%post
%systemd_post neutron-dhcp-agent.service
%systemd_post neutron-l3-agent.service
%systemd_post neutron-metadata-agent.service

%preun
%systemd_preun neutron-dhcp-agent.service
%systemd_preun neutron-l3-agent.service
%systemd_preun neutron-metadata-agent.service

%postun
%systemd_postun_with_restart neutron-dhcp-agent.service
%systemd_postun_with_restart neutron-l3-agent.service
%systemd_postun_with_restart neutron-metadata-agent.service

%post api
%systemd_post neutron-server.service

%preun api
%systemd_preun neutron-server.service

%postun api
%systemd_postun_with_restart neutron-server.service

%post linuxbridge
%systemd_post neutron-linuxbridge-agent.service

%preun linuxbridge
%systemd_preun neutron-linuxbridge-agent.service

%postun linuxbridge
%systemd_postun_with_restart neutron-linuxbridge-agent.service

%post macvtap-agent
%systemd_post neutron-macvtap-agent.service

%preun macvtap-agent
%systemd_preun neutron-macvtap-agent.service

%postun macvtap-agent
%systemd_postun_with_restart neutron-macvtap-agent.service

%post openvswitch
%systemd_post neutron-openvswitch-agent.service

%preun openvswitch
%systemd_preun neutron-openvswitch-agent.service

%postun openvswitch
%systemd_postun_with_restart neutron-openvswitch-agent.service

%post metering-agent
%systemd_post neutron-metering-agent.service

%preun metering-agent
%systemd_preun neutron-metering-agent.service

%postun metering-agent
%systemd_postun_with_restart neutron-metering-agent.service

%post rpc-server
%systemd_post neutron-rpc-server.service

%preun rpc-server
%systemd_preun neutron-rpc-server.service

%postun rpc-server
%systemd_postun_with_restart neutron-rpc-server.service

%post sriov-nic-agent
%systemd_post neutron-sriov-nic-agent.service

%preun sriov-nic-agent
%systemd_preun neutron-sriov-nic-agent.service

%postun sriov-nic-agent
%systemd_postun_with_restart neutron-sriov-nic-agent.service

%files
%license LICENSE
%{_bindir}/neutron-enable-bridge-firewall.sh
%{_bindir}/neutron-db-manage
%{_bindir}/neutron-debug
%{_bindir}/neutron-dhcp-agent
%{_bindir}/neutron-ipset-cleanup
%{_bindir}/neutron-keepalived-state-change
%{_bindir}/neutron-l3-agent
%{_bindir}/neutron-metadata-agent
%{_bindir}/neutron-netns-cleanup
%{_bindir}/neutron-pd-notify
%{_bindir}/neutron-rootwrap
%{_bindir}/neutron-rootwrap-daemon
%{_bindir}/neutron-rootwrap-xen-dom0
%{_bindir}/neutron-sanity-check
%{_bindir}/neutron-status
%{_bindir}/neutron-usage-audit
%{_unitdir}/neutron-dhcp-agent.service
%{_unitdir}/neutron-l3-agent.service
%{_unitdir}/neutron-metadata-agent.service
%attr(-, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/api-paste.ini
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/dhcp_agent.ini
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/l3_agent.ini
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/metadata_agent.ini
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/rootwrap.conf
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/{{ pypi_name }}.conf
%{_sysconfdir}/{{ pypi_name }}/README.config
%dir %{_sysconfdir}/{{ pypi_name }}
%dir %{_sysconfdir}/{{ pypi_name }}/plugins
%dir %{_sysconfdir}/{{ pypi_name }}/{{ pypi_name }}.conf.d
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/{{ pypi_name }}.conf.d/010-neutron.conf
%{_sysconfdir}/sudoers.d/{{ pypi_name }}
%config(noreplace) %{_sysconfdir}/logrotate.d/*
%dir %{_datarootdir}/{{ pypi_name }}
%dir %{_datarootdir}/{{ pypi_name }}/rootwrap
%{_datarootdir}/{{ pypi_name }}/rootwrap/debug.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/dhcp.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/dibbler.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/ebtables.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/ipset-firewall.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/iptables-firewall.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/l3.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/netns-cleanup.filters
%{_datarootdir}/{{ pypi_name }}/rootwrap/privsep.filters

%files api
%license LICENSE
%{_bindir}/neutron-api
%{_bindir}/neutron-server
%{_unitdir}/neutron-server.service
%dir %{_sysconfdir}/{{ pypi_name }}/server.conf.d

%files -n python3-{{ pypi_name }}
%license LICENSE
%{python3_sitelib}/{{ pypi_name }}
%{python3_sitelib}/{{ pypi_name }}-*.egg-info

%if 0%{?with_doc}
%files doc
%license LICENSE
%doc doc/build/html
%endif

%files linuxbridge
%license LICENSE
%{_bindir}/neutron-linuxbridge-agent
%{_bindir}/neutron-linuxbridge-cleanup
%{_unitdir}/neutron-linuxbridge-agent.service
%{_datarootdir}/{{ pypi_name }}/rootwrap/linuxbridge-plugin.filters
%dir %{_sysconfdir}/{{ pypi_name }}/plugins/ml2
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/linuxbridge_agent.ini
%dir %{_sysconfdir}/{{ pypi_name }}/linuxbridge-agent.conf.d

%files macvtap-agent
%license LICENSE
%{_bindir}/neutron-macvtap-agent
%{_unitdir}/neutron-macvtap-agent.service
%dir %{_sysconfdir}/{{ pypi_name }}/macvtap-agent.conf.d

%files ml2
%license LICENSE
%doc {{ pypi_name }}/plugins/ml2/README
%dir %{_sysconfdir}/{{ pypi_name }}/plugins/ml2
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/*.ini
%exclude %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/linuxbridge_agent.ini
%exclude %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/openvswitch_agent.ini
%exclude %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/sriov_agent.ini

%files openvswitch
%license LICENSE
%{_bindir}/neutron-openvswitch-agent
%{_bindir}/neutron-ovs-cleanup
%{_unitdir}/neutron-openvswitch-agent.service
%{_datarootdir}/{{ pypi_name }}/rootwrap/openvswitch-plugin.filters
%dir %{_sysconfdir}/{{ pypi_name }}/plugins/ml2
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/openvswitch_agent.ini
%dir %{_sysconfdir}/{{ pypi_name }}/openvswitch-agent.conf.d

%files metering-agent
%license LICENSE
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/metering_agent.ini
%{_unitdir}/neutron-metering-agent.service
%{_bindir}/neutron-metering-agent
%dir %{_sysconfdir}/{{ pypi_name }}/metering-agent.conf.d

%files rpc-server
%license LICENSE
%{_bindir}/neutron-rpc-server
%{_unitdir}/neutron-rpc-server.service
%dir %{_sysconfdir}/{{ pypi_name }}/rpc-server.conf.d

%files sriov-nic-agent
%license LICENSE
%{_unitdir}/neutron-sriov-nic-agent.service
%{_bindir}/neutron-sriov-nic-agent
%config(noreplace) %attr(0640, root, {{ pypi_name }}) %{_sysconfdir}/{{ pypi_name }}/plugins/ml2/sriov_agent.ini
%dir %{_sysconfdir}/{{ pypi_name }}/sriov-nic-agent.conf.d

%changelog
