[Unit]
Description=OpenStack Neutron macvtap L2 agent
After=syslog.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-macvtap-agent --config-file /etc/neutron/neutron.conf
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
