[Unit]
Description=OpenStack Neutron DHCP Agent
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
ExecStart=/usr/bin/neutron-dhcp-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
