[Unit]
Description=OpenStack Neutron SR-IOV NIC Agent
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
KillMode=process
Restart=on-failure
ExecStart=/usr/bin/neutron-sriov-nic-agent  --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/sriov_agent.ini

[Install]
WantedBy=multi-user.target
