[Unit]
Description=OpenStack Neutron Open vSwitch Agent
After=syslog.target network.target
After=openvswitch.service
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
PrivateTmp=true
KillMode=process
Restart=on-failure
ExecStart=/usr/bin/neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf  --config-file /etc/neutron/plugins/ml2/openvswitch_agent.ini

[Install]
WantedBy=multi-user.target
