[Unit]
Description=OpenStack Neutron (RPC only) Server
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
User=neutron
Group=neutron
WorkingDirectory=/var/lib/neutron
PrivateTmp=true
NotifyAccess=all
KillMode=process
Restart=on-failure
ExecStart=/usr/bin/neutron-rpc-server --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugin.ini

[Install]
WantedBy=multi-user.target
