Unit]
Description=OpenStack Neutron Netns Cleanup Utility
After=syslog.target network.target
After=openvswitch.service
After=mariadb.service postgresql.service rabbitmq-server.service
Before=openstack-neutron-openvswitch-agent.service openstack-neutron-dhcp-agent.service openstack-neutron-l3-agent.service
Before=openstack-nova-compute.service

[Service]
Type=oneshot
User=neutron
Group=neutron
ExecStart=/usr/bin/neutron-netns-cleanup --config-file --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini
ExecStop=/usr/bin/neutron-netns-cleanup --config-file --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini --force
PrivateTmp=false
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target