{% set pypi_name = 'microversion_parse' %}
{% set upstream_version = upstream_version('0.2.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack microversion header parser
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://www.openstack.org/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('WebOb', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('gabbi', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
BuildArch:      noarch
%python_subpackages

%description
A simple parser for OpenStack microversion headers.

%package -n {{ py2name() }}-doc
Summary:        Documentation for OpenStack Microversion headers
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}

%description -n {{ py2name() }}-doc
This package contains thedocumentation for OpenStack microversion
headers parsing library.

%prep
%autosetup -n microversion_parse-%{version}
%py_req_cleanup

%build
%python_build

# generate html docs
PBR_VERSION=%{version} sphinx-build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%python_install

%check
%python_exec -m stestr.cli run

%files %{python_files}
%license LICENSE
%doc ChangeLog README.rst
%{python_sitelib}/microversion_parse
%{python_sitelib}/microversion_parse*egg-info

%files -n {{ py2name() }}-doc
%license LICENSE
%doc doc/build/html

%changelog
