[Unit]
Description=Neutron VPN as a Service - Brocade Vyatte agent
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
KillMode=process
User=neutron
ExecStart=/usr/bin/neutron-vyatta-agent --config-file /etc/neutron/neutron.conf --config-file=/etc/neutron/vpn_agent.ini

[Install]
WantedBy=multi-user.target
