{% set pypi_name = 'python-vitrageclient' %}
{% set upstream_version = upstream_version('4.4.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Python API and CLI for OpenStack Vitrage
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://docs.openstack.org/{{ pypi_name }}
Source0:        https://pypi.io/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('cliff') }}
BuildRequires:  {{ py3('keystoneauth1') }}
BuildRequires:  {{ py3('networkx') }}
BuildRequires:  {{ py3('oslotest') }}
BuildRequires:  {{ py3('pbr') }}
BuildRequires:  {{ py3('pydot') }}
BuildRequires:  {{ py3('stestr') }}
BuildRequires:  {{ py3('testtools') }}
BuildArch:      noarch

%description
Client library for Vitrage built on the Vitrage API. It provides a Python API
(the vitrageclient module) and a command-line tool (vitrage).

%package -n python3-vitrageclient
Summary:        Python API and CLI for OpenStack Vitrage
Requires:       {{ py3('Babel') }}
Requires:       {{ py3('PrettyTable') }}
Requires:       {{ py3('cliff') }}
Requires:       {{ py3('iso8601') }}
Requires:       {{ py3('keystoneauth1') }}
Requires:       {{ py3('networkx') }}
Requires:       {{ py3('osc-lib') }}
Requires:       {{ py3('oslo.utils') }}
Requires:       {{ py3('pbr') }}
Requires:       {{ py3('pydot') }}

%description -n python3-vitrageclient
Client library for Vitrage built on the Vitrage API. It provides a Python API
(the vitrageclient module) and a command-line tool (vitrage).

This package contains the Python 3.x module.

%package -n {{ py2name() }}-doc
Summary:        Documentation for OpenStack Vitrage API client libary
Group:          Documentation
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('openstackdocstheme') }}

%description -n {{ py2name() }}-doc
Client library for Vitrage built on the Vitrage API. It provides a Python API
(the vitrageclient module) and a command-line tool (vitrage).
This package contains the documentation.

%prep
%autosetup -p1 -n %{name}-%{version}
%py_req_cleanup

%build
%{py3_build}

# Build HTML docs and man page
PBR_VERSION=%{version} %sphinx_build -b html doc/source doc/build/html
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{py3_install}
# bash completion
install -p -D -m 644 tools/vitrage.bash_completion %{buildroot}%{_sysconfdir}/bash_completion.d/vitrage.bash_completion
rm %{buildroot}%{_datadir}/vitrage.bash_completion

%check
python3 -m stestr.cli run

%files -n python3-vitrageclient
%doc README.rst
%license LICENSE
%{python3_sitelib}/vitrageclient
%{python3_sitelib}/*.egg-info
%{_sysconfdir}/bash_completion.d/vitrage.bash_completion
%{_bindir}/vitrage

%files -n {{ py2name() }}-doc
%doc doc/build/html
%license LICENSE

%changelog
