{% set pypi_name = 'python-vitrageclient' %}
{% set upstream_version = upstream_version('2.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Python API and CLI for OpenStack Vitrage
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            http://launchpad.net/%{name}
Source0:        https://pypi.io/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('cliff', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('keystoneauth1', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('python-subunit', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testrepository', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('cliff') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('osc-lib') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
BuildArch:      noarch
%if 0%{?suse_version}
Requires(post): update-alternatives
Requires(postun): update-alternatives
%else
# on RDO, update-alternatives is in chkconfig
Requires(post): chkconfig
Requires(postun): chkconfig
%endif
%python_subpackages

%description
Client library for Vitrage built on the Vitrage API. It provides a Python API
(the vitrageclient module) and a command-line tool (vitrage).

%package -n {{ py2name() }}-doc
Summary:        Documentation for OpenStack Vitrage API client libary
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n {{ py2name() }}-doc
Client library for Vitrage built on the Vitrage API. It provides a Python API
(the vitrageclient module) and a command-line tool (vitrage).
This package contains the documentation.

%prep
%autosetup -p1 -n %{name}-%{version}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{python_build}

# Build HTML docs and man page
%{__python2} setup.py build_sphinx
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{python_install}
# bash completion
install -p -D -m 644 tools/vitrage.bash_completion %{buildroot}%{_sysconfdir}/bash_completion.d/vitrage.bash_completion
rm %{buildroot}%{_datadir}/vitrage.bash_completion
%python_clone -a %{buildroot}%{_sysconfdir}/bash_completion.d/vitrage.bash_completion


%python_clone -a %{buildroot}%{_bindir}/vitrage

%post
%python_install_alternative vitrage

%postun
%python_uninstall_alternative vitrage


%check
%{python_expand rm -rf .testrepository
export OS_TEST_PATH=vitrageclient/tests/unit
$python setup.py testr
}

%files %{python_files}
%doc README.rst
%license LICENSE
%{python_sitelib}/vitrageclient
%{python_sitelib}/*.egg-info
%python_alternative %{_sysconfdir}/bash_completion.d/vitrage.bash_completion
%python_alternative %{_bindir}/vitrage

%files -n {{ py2name() }}-doc
%doc doc/build/html
%license LICENSE

%changelog
