%global sname XStatic-JQuery.TableSorter
Name:           {{ py2name('XStatic-JQuery.TableSorter') }}
Version:        2.14.5.1
Release:        0
Summary:        JQuery.TableSorter %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-jquery.tablesorter/
Source0:        https://files.pythonhosted.org/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
JQuery.TableSorter JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_JQuery.TableSorter-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_JQuery.TableSorter-%{version}-py?.?-nspkg.pth

%changelog
