%global sname python-karborclient
Name:           {{ py2name('python-karborclient') }}
Version:        0.1.0
Release:        0
Summary:        Python API and CLI for OpenStack Karbor
License:        {{ license('Apache-2.0')}}
Group:          Development/Languages/Python
Url:            https://launchpad.net/%{sname}
Source0:        https://pypi.io/packages/source/p/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Babel') }}
BuildRequires:  {{ py2pkg('PrettyTable') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('python-keystoneclient') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('os-testr') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('requests') }}
BuildRequires:  {{ py2pkg('requests-mock') }}
BuildRequires:  {{ py2pkg('simplejson') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('python-keystoneclient') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('simplejson') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
OpenStack Clustering service Provisioning API Client Library

This is a client for the OpenStack Karbor API. It provides a Python API (the
karborclient module) and a command-line interface (Karbor).

%package doc
Summary:        Documentation for OpenStack Karbor API Client
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('reno') }}

%description doc
This is a client for the OpenStack Karbor API and a command-line script (karbor).
Each implements 100% of the OpenStack Karbor API.
This package contains auto-generated documentation.

%prep
%setup -q -n %{sname}-%{version}

%build
%{py2_build}

%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{py2_install}

%check
%{__python2} setup.py testr

%files
%license LICENSE
%doc README.rst
%{_bindir}/karbor
%{python2_sitelib}/karborclient
%{python2_sitelib}/*.egg-info
%{_bindir}/karbor

%files doc
%license LICENSE
%doc doc/build/html

%changelog
