[Unit]
Description=Mistral Engine Server
After=syslog.target network.target

[Service]
Type=simple
User=mistral
Restart=on-failure
ExecStart=/usr/bin/mistral-server --config-file=/etc/mistral/mistral.conf --server=engine

[Install]
WantedBy=multi-user.target
