[Unit]
Description=PXE boot dnsmasq service for Ironic Inspector
After=openvswitch.service syslog.target network.target

[Service]
Type=forking
ExecStart=/sbin/dnsmasq --conf-file=/etc/ironic-inspector/dnsmasq.conf

[Install]
WantedBy=multi-user.target
Alias=openstack-ironic-inspector-dnsmasq.service
