%global sname XStatic-QUnit
Name:           {{ py2name('XStatic-QUnit') }}
Version:        1.14.0.2
Release:        0
Summary:        QUnit %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-qunit/
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
QUnit JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_QUnit-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_QUnit-%{version}-py?.?-nspkg.pth

%changelog
