{% set pypi_name = 'python-keystoneclient' %}
{% set upstream_version = upstream_version('3.19.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Epoch:          {{ epoch('python-keystoneclient') }}
Summary:        Client library for OpenStack Identity API
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openssl
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('debtcollector', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('keystoneauth1', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('lxml', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.serialization', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testresources', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
BuildArch:      noarch
%python_subpackages

%description
Client library for interacting with Openstack Identity API.

%package -n python-keystoneclient-doc
Summary:        Documentation for OpenStack Identity API Client
Group:          Documentation/HTML
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n python-keystoneclient-doc
Documentation for the client library for interacting with Openstack
Identity API.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
# disable intersphinx - no network access during build
echo "intersphinx_mapping = {}" >> doc/source/conf.py
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{python_build}

# Build HTML docs and man page
%{__python2} setup.py build_sphinx

%install
%{python_install}

# Delete tests
rm -fr %{buildroot}%{python2_sitelib}/tests

# Fix hidden-file-or-dir warnings
rm -fr html/.doctrees html/.buildinfo

%check
%python_exec -m stestr.cli run

%files %{python_files}
%doc README.rst
%license LICENSE
%{python2_sitelib}/keystoneclient
%{python2_sitelib}/*.egg-info

%files -n python-keystoneclient-doc
%doc doc/build/html
%license LICENSE

%changelog
