{% set pypi_name = 'python-tempestconf' %}
{% set upstream_version = upstream_version('2.1.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}
# Disabling docs as it is failling while building docs
# on RDO and SUSE ci with unwanted reasons
%global with_doc 0
%global common_desc \
python-tempestconf will automatically generates the tempest \
configuration based on your cloud.
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Tempest Config generator
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            http://git.openstack.org/cgit/openstack/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Tempest') }}
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('os-client-config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('Tempest') }}
Requires:       {{ py2pkg('PyYAML') }}
Requires:       {{ py2pkg('castellan') }}
Requires:       {{ py2pkg('cryptography') }}
Requires:       {{ py2pkg('os-client-config') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('requests') }}
BuildArch:      noarch
%if 0%{?suse_version}
Requires(post): update-alternatives
Requires(postun): update-alternatives
%else
# on RDO, update-alternatives is in chkconfig
Requires(post): chkconfig
Requires(postun): chkconfig
%endif
%python_subpackages

%description
%{common_desc}

%if 0%{?with_doc}
%package -n python-tempestconf-doc
Summary:    Documentation for python-tempestconf
BuildRequires: {{ py2pkg('Sphinx') }}
BuildRequires: {{ py2pkg('openstackdocstheme') }}
BuildRequires: {{ py2pkg('openstacksdk') }}
BuildRequires: {{ py2pkg('sphinx-argparse') }}

%description -n python-tempestconf-doc
It contains the documentation for the python-tempestconf.
%endif

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
# Let's handle dependencies ourseleves
%py_req_cleanup
# Remove bundled egg-info
rm -rf %{module}.egg-info

%build
%{python_build}

# Generate Docs
%if 0%{?with_doc}
export PYTHONPATH="$( pwd ):$PYTHONPATH"
PBR_VERSION={{ upstream_version }} sphinx-build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}
%endif

%install
%{python_install}
%python_clone -a %{buildroot}%{_bindir}/discover-tempest-config

# Disabling tests because it's failing for no reason
# %check
# export PYTHONPATH=.
# export OS_TEST_PATH=./config_tempest/tests
# ostestr

%post
%python_install_alternative discover-tempest-config

%postun
%python_uninstall_alternative discover-tempest-config

%files %{python_files}
%license LICENSE
%python_alternative %{_bindir}/discover-tempest-config
%{python_sitelib}/config_tempest
%{python_sitelib}/python_tempestconf-*.egg-info

%if 0%{?with_doc}
%files -n python-tempestconf-doc
%license LICENSE
%doc doc/build/html
%endif

%changelog
