{% set pypi_name = 'monasca-ui' %}
{% set upstream_version = upstream_version('1.12.1') %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
%if 0%{?rhel} || 0%{?fedora}
%global rdo 1
%global http_dashboard_dir %{_datarootdir}/openstack-dashboard
%else
%global http_dashboard_dir /srv/www/openstack-dashboard
%endif
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Monasca Horizon plugin
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://wiki.openstack.org/wiki/Monasca
Source0:        https://files.pythonhosted.org/packages/source/m/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  fdupes
BuildRequires:  {{ py2pkg('horizon') }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('python-monascaclient') }}
BuildRequires:  {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('horizon-plugin-monasca-ui') }} = %{version}
BuildArch:      noarch

%description
The Monasca UI Horizon plugin adds Monitoring panel to the OpenStack dashboard.

%package -n {{ py2pkg('horizon-plugin-monasca-ui') }}
Summary:       Monasca Plugin for Horizon - Python module
Requires:      {{ py2pkg('Django') }}
Requires:      {{ py2pkg('python-monascaclient') }}
Requires:      {{ py2pkg('pbr') }}
%if 0%{?suse_version}
%package -n grafana-monasca-ui-drilldown
Summary:       Scripted Grafana dashboard for alarm drilldown links
BuildRequires: grafana
Requires:      grafana
%endif

%description -n {{ py2pkg('horizon-plugin-monasca-ui') }}
The Monasca UI Horizon plugin adds Monitoring panel to the OpenStack dashboard.

%if 0%{?suse_version}
%description -n grafana-monasca-ui-drilldown
This adds a scripted dashboard to Grafana 2 and higher that the Monitoring
panel's Alarms tab links to when generating drilldown links for alarms.
%endif

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
%py2_build

%install
%py2_install

install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/
install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/conf/
cp -a monitoring/enabled/_50_admin_add_monitoring_panel.py %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/
cp -a monitoring/conf/monitoring_policy.json %{buildroot}%{http_dashboard_dir}/openstack_dashboard/conf/
%if 0%{?suse_version}
install -m 0755 -d %{buildroot}%{_datadir}/grafana/public/dashboards/
install -m 644 grafana-dashboards/drilldown.js %{buildroot}%{_datadir}/grafana/public/dashboards/
%endif
%fdupes %{buildroot}%{python2_sitelib}
%fdupes %{buildroot}%{http_dashboard_dir}

%post
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%postun
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%files
%{http_dashboard_dir}/openstack_dashboard/enabled/_50_admin_add_monitoring_panel.py
%{http_dashboard_dir}/openstack_dashboard/conf/monitoring_policy.json
%license LICENSE
%doc ChangeLog README.md

%if 0%{?suse_version}
%files -n grafana-monasca-ui-drilldown
%license LICENSE
%{_datadir}/grafana/public/dashboards/drilldown.js
%endif

%files -n {{ py2pkg('horizon-plugin-monasca-ui') }}
%license LICENSE
%doc README.md
%{python2_sitelib}/monitoring
%{python2_sitelib}/monasca_ui-*.egg-info
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/_50_admin_add_monitoring_panel.pyc
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/_50_admin_add_monitoring_panel.pyo

%changelog
