%global sname openstackdocstheme
Name:           {{ py2name('openstackdocstheme') }}
Version:        1.16.1
Release:        0
Summary:        OpenStack Docs Theme
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://launchpad.net/%{sname}
Source0:        https://pypi.io/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
# https://review.openstack.org/491157
Patch1:         0001-Break-cycle-dependency-with-os-api-ref.patch
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('reno') }}
BuildRequires:  {{ py2pkg('requests') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('Sphinx') }}
BuildArch:      noarch

%description
Theme and extension support for Sphinx documentation that is published
to docs.openstack.org. Intended for use by OpenStack projects.

%prep
%autosetup -p1 -n %{sname}-%{version}

# we dont need hacking
sed -i '/^hacking.*/d' test-requirements.txt
%py_req_cleanup

%build
%py2_build

%install
%py2_install

%check
%{__python2} setup.py test

%files
%license LICENSE
%doc README.rst
%{python2_sitelib}/%{sname}
%{python2_sitelib}/*.egg-info

%changelog
