{% set pypi_name = 'XStatic-Angular-Vis' %}
{% set upstream_version = upstream_version('4.16.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Angular-Vis JavaScript library (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-angular-vis/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('XStatic', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildArch:      noarch
%python_subpackages

%description
Angular-Vis JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{python_build}

%install
%{python_install}

%files %{python_files}
%doc README.txt
%{python_sitelib}/xstatic
%{python_sitelib}/XStatic*

%changelog
