{% set pypi_name = 'telemetry_tempest_plugin' %}
{% set source = fetch_source('https://tarballs.openstack.org/telemetry-tempest-plugin/telemetry_tempest_plugin-1.1.0.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

Name:           {{ py2name(py_versions='py3') }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Tempest plugin for Telemetry Projects (Aodh, Ceilometer, Gnocchi and Panko)
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://opendev.org/openstack/telemetry-tempest-plugin
Source0:        {{ source|basename }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('pbr') }}
Requires:       {{ py2pkg('tempest') }}
Requires:       {{ py3('gabbi') }}
Requires:       {{ py3('oslo.config') }}
Requires:       {{ py3('oslo.utils') }}
Requires:       {{ py3('six') }}
BuildArch:      noarch

%description
Tempest plugin for Telemetry Project.
It contains tempest tests for Aodh, Ceilometer, Gnocchi and Panko Projects.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%{python3_sitelib}/telemetry_tempest_plugin*

%changelog
