{% set pypi_name = 'XStatic-angular-ui-router' %}
{% set upstream_version = upstream_version('0.3.1.2') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

%global sname XStatic-angular-ui-router
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        angular-ui-router %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/{sname}/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
angular-ui-router javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
sed -i 's/    setup_requires/#   setup_requires/' setup.py
sed -i 's/    version=.*/    version="0.3.1.2",/' setup.py
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}
# FIXME(jpena): No *pth files are created by some CIs
rm -f %{buildroot}%{python2_sitelib}/XStatic_angular_ui_router*-nspkg.pth

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_angular_ui_router-*.egg-info

%changelog
