%global sname XStatic-angular-ui-router
Name:           {{ py2name('XStatic-angular-ui-router') }}
Version:        0.3.1.2
Release:        0
Summary:        angular-ui-router %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/{sname}/
Source0:        https://files.pythonhosted.org/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
angular-ui-router javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
sed -i 's/    setup_requires/#   setup_requires/' setup.py
sed -i 's/    version=.*/    version="0.3.1.2",/' setup.py
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}
# FIXME(jpena): No *pth files are created by some CIs
rm -f %{buildroot}%{python2_sitelib}/XStatic_angular_ui_router*-nspkg.pth

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_angular_ui_router-*.egg-info

%changelog
