%global sname monasca-statsd
Name:           {{ py2name('monasca-statsd') }}
Version:        1.5.0
Release:        0
Summary:        Python Statsd library for sending statsd messages via the Monasca Agent
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://wiki.openstack.org/wiki/Monasca
Source0:        https://pypi.io/packages/source/m/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('nose') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
Python Statsd library for sending statsd messages via the Monasca Agent

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%check
nosetests monascastatsd --verbose

%files
%license LICENSE
%doc README.md ChangeLog
%{python2_sitelib}/monascastatsd
%{python2_sitelib}/*.egg-info

%changelog
