[Unit]
Description=Monasca Notification
Requires=network.target
After=network.target
ConditionPathIsDirectory=/var/log/monasca-notification

[Service]
Type=simple
User=monasca-notification
Group=monasca
ExecStart=/usr/bin/monasca-notification
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
