%global sname keystoneauth1
Name:           {{ py2name('keystoneauth1') }}
Version:        3.9.0
Release:        0
Summary:        OpenStack authenticating tools
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/keystoneauth
Source0:        https://files.pythonhosted.org/packages/source/k/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PyYAML', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('betamax', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('fixtures', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('iso8601', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('lxml', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oauthlib', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('os-service-types', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('os-testr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('reno', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-kerberos', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testresources', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PyYAML') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('lxml') }}
Requires:       {{ py2pkg('oauthlib') }}
Requires:       {{ py2pkg('os-service-types') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('requests-kerberos') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
BuildArch:      noarch
%python_subpackages

%description
Tools for authenticating to an OpenStack-based cloud. These tools include:
* Authentication plugins (password, token, and federation based)
* Discovery mechanisms to determine API version support
* A session that is used to maintain client settings across requests
  (based on the requests Python library)

%package -n python-keystoneauth1-doc
Summary:        Documentation for OpenStack authenticating tools
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n python-keystoneauth1-doc
Documentation for OpenStack authenticating tools.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

# cleanup intersphinx (we have no network during build)
echo "intersphinx_mapping = {}" >> doc/source/conf.py

%build
%{python_build}

%install
%{python_install}

# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%check
rm -v keystoneauth1/tests/unit/test_hacking_checks.py
%{python_expand rm -rf .testrepository
ostestr
}

%files %{python_files}
%license LICENSE
%doc ChangeLog README.rst
%{python_sitelib}/%{sname}
%{python_sitelib}/*.egg-info

%files -n python-keystoneauth1-doc
%doc doc/build/html
%license LICENSE

%changelog
