{% set pypi_name = 'python-ironic-inspector-client' %}
{% set upstream_version = upstream_version('5.3.1') %}
{% set rpm_release = '1' %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Python client and CLI tool for Ironic Inspector
License:        Apache-2.0
Group:          Development/Languages/Python
URL:            https://docs.openstack.org/{{ pypi_name }}
Source0:        https://files.pythonhosted.org/packages/source/p/python-ironic-inspector-client/python_ironic_inspector_client-{{ upstream_version }}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('fixtures') }}
BuildRequires:  {{ py3('keystoneauth1') }}
BuildRequires:  {{ py3('python-openstackclient') }}
BuildRequires:  {{ py3('openstackdocstheme') }}
BuildRequires:  {{ py3('osc-lib') }}
BuildRequires:  {{ py3('oslo.concurrency') }}
BuildRequires:  {{ py3('reno') }}
BuildRequires:  {{ py3('requests-mock') }}
BuildRequires:  {{ py3('stestr') }}
BuildArch:      noarch

%description
Ironic Inspector is an auxiliary service for discovering hardware properties
for a node managed by OpenStack Ironic. Hardware introspection or hardware
properties discovery is a process of getting hardware parameters required for
scheduling from a bare metal node, given its power management credentials
(e.g. IPMI address, user name and password).

This package contains Python client and command line tool for Ironic Inspector.

%package -n {{ py2name(py_versions='py3') }}
Summary: Python client and CLI tool for Ironic Inspector
Requires:       {{ py3('PyYAML') }}
Requires:       {{ py3('keystoneauth1') }}
Requires:       {{ py3('python-openstackclient') }}
Requires:       {{ py3('osc-lib') }}
Requires:       {{ py3('oslo.i18n') }}
Requires:       {{ py3('oslo.utils') }}
Requires:       {{ py3('requests') }}

%description -n {{ py2name(py_versions='py3') }}
Ironic Inspector is an auxiliary service for discovering hardware properties
for a node managed by OpenStack Ironic. Hardware introspection or hardware
properties discovery is a process of getting hardware parameters required for
scheduling from a bare metal node, given its power management credentials
(e.g. IPMI address, user name and password).

This package contains Python client and command line tool for Ironic Inspector.

This package contains the Python 3.x module.

%prep
%autosetup -p1 -n python_ironic_inspector_client-{{ upstream_version }}
%py_req_cleanup

%build
%py3_build

%install
%py3_install

%check
export LC_ALL=en_US.UTF-8
%{openstack_stestr_run}

%files -n {{ py2name(py_versions='py3') }}
%doc README.rst
%license LICENSE
%{python3_sitelib}/ironic_inspector_client
%{python3_sitelib}/*.egg-info

%changelog
