{% set pypi_name = 'manila-tempest-plugin' %}
{% set rpm_release = '1' %}
{% set source=fetch_source('https://tarballs.openstack.org/manila-tempest-plugin/manila-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}

Name:          {{ py2pkg('manila-tempest-plugin') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the manila project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://git.openstack.org/cgit/openstack/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('ddt') }}
Requires:      {{ py3('dnspython') }}
Requires:      {{ py3('testtools') }}
BuildArch:     noarch

%description
This package contains Tempest tests to cover the manila project.
Additionally it provides a plugin to automatically load these tests into Tempest.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/manila_tempest_tests
%{python3_sitelib}/*.egg-info

%changelog
