{% set pypi_name = 'monasca-persister' %}
{% set source = fetch_source('http://tarballs.openstack.org/monasca-persister/monasca-persister-stable-ocata.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Consumes metrics and alarm state transitions from message queue and stores them in database
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://wiki.openstack.org/wiki/Monasca
Source0:        {{ source|basename }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('nose') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('monasca-common') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('monasca-common') }}
BuildArch:      noarch

%description
Consumes metrics and alarm state transitions from message queue and stores them in database.
Data is read from Kafka queue and saved either in InfluxDB or Cassandra

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%check
find . -type f -name *.pyc -delete
nosetests monasca_persister --verbose

%files
%license LICENSE
%doc README.md ChangeLog
%{_bindir}/monasca-persister
%{python2_sitelib}/monasca_persister
%{python2_sitelib}/monasca_persister-*.egg-info

%changelog