[Unit]
Description=OpenStack Swift Container Auditor
After=syslog.target network.target

[Service]
Type=simple
User=swift
Group=swift
WorkingDirectory=/var/lib/swift
PrivateTmp=yes
ExecStart=/usr/bin/swift-container-auditor /etc/swift/container-server.conf

[Install]
WantedBy=multi-user.target
