[Unit]
Description=OpenStack Swift Account Server
After=syslog.target network.target

[Service]
Type=simple
User=swift
Group=swift
WorkingDirectory=/var/lib/swift
PrivateTmp=yes
ExecStart=/usr/bin/swift-account-server /etc/swift/account-server.conf

[Install]
WantedBy=multi-user.target
