{% set pypi_name = 'virtualbmc' %}
{% set upstream_version = upstream_version('1.5.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Python module to create virtual BMCs for controlling virtual instances via IPMI
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            http://www.openstack.org/
Source0:        {{ source }}
Source1:        virtualbmc.service
BuildRequires:  fdupes
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('libvirt-python') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('pyghmi') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%{?systemd_requires}
%else
BuildRequires:  systemd
Requires(post): systemd
Requires(postun): systemd
Requires(preun): systemd
%endif
%if 0%{?suse_version}
Requires(post): update-alternatives
Requires(postun): update-alternatives
%else
# on RDO, update-alternatives is in chkconfig
Requires(post): chkconfig
Requires(postun): chkconfig
%endif
%python_subpackages

%description
A virtual BMC for controlling virtual machines using IPMI commands.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%python_build

%install
%python_install
%python_clone -a %{buildroot}%{_bindir}/vbmc
%python_clone -a %{buildroot}%{_bindir}/vbmcd

# directories
install -d -m 755 %{buildroot}%{_datadir}/{{ pypi_name }}
install -d -m 755 %{buildroot}%{_sharedstatedir}/{{ pypi_name }}
install -d -m 750 %{buildroot}%{_localstatedir}/lib/{{ pypi_name }}

# systemd
install -p -D -m 444 %{SOURCE1} %{buildroot}%{_unitdir}/virtualbmc.service

%post
%python_install_alternative vbmc
%python_install_alternative vbmcd
%systemd_post virtualbmc.service

%postun
%systemd_postun virtualbmc.service
%python_uninstall_alternative vbmc
%python_uninstall_alternative vbmcd

%files %{python_files}
%license LICENSE
%{python_sitelib}/*
%python_alternative %{_bindir}/vbmc
%python_alternative %{_bindir}/vbmcd
%if 0%{?suse_version}
%python3_only %{_unitdir}/virtualbmc.service
%else
%{_unitdir}/virtualbmc.service
%endif

%changelog
