%global sname XStatic-D3
Name:           {{ py2name('XStatic-D3') }}
Version:        3.5.17.0
Release:        0
Summary:        D3 %{version} (XStatic packaging standard)
License:        {{ license('BSD-3-Clause') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/{sname}/
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
D3 javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_D3-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_D3-%{version}-py?.?-nspkg.pth

%changelog
