{% set pypi_name = 'karbor' %}
{% set upstream_version = '0.5.1' %}
{% set rpm_release = '1' %}
%global with_doc 0
%if 0%{?rhel} || 0%{?fedora}
%global rdo 1
%endif
Name:           {{ py2name() }}
Epoch:          {{ epoch('karbor') }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Application Data Protection Service
License:        {{ license('Apache-2.0') }}
URL:            https://launchpad.net/karbor
Source0:        http://tarballs.openstack.org/{{ pypi_name }}/{{ pypi_name }}-{{upstream_version}}.tar.gz
Source1:        openstack-karbor.logrotate
Source2:        openstack-karbor-operationengine.service
Source3:        openstack-karbor-protection.service
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Tempest') }}
BuildRequires:  {{ py2pkg('Babel') }}
BuildRequires:  {{ py2pkg('Paste') }}
BuildRequires:  {{ py2pkg('PasteDeploy') }}
BuildRequires:  {{ py2pkg('Routes') }}
BuildRequires:  {{ py2pkg('SQLAlchemy') }}
BuildRequires:  {{ py2pkg('WebOb') }}
BuildRequires:  {{ py2pkg('WebTest') }}
BuildRequires:  {{ py2pkg('abclient') }}
BuildRequires:  {{ py2pkg('bcrypt') }}
BuildRequires:  {{ py2pkg('python-cinderclient') }}
BuildRequires:  {{ py2pkg('croniter') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('eventlet') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('freezegun') }}
BuildRequires:  {{ py2pkg('python-glanceclient') }}
BuildRequires:  {{ py2pkg('greenlet') }}
BuildRequires:  {{ py2pkg('python-heatclient') }}
BuildRequires:  {{ py2pkg('icalendar') }}
BuildRequires:  {{ py2pkg('python-karborclient') }}
BuildRequires:  {{ py2pkg('keystoneauth1') }}
BuildRequires:  {{ py2pkg('keystonemiddleware') }}
BuildRequires:  {{ py2pkg('lxml') }}
BuildRequires:  {{ py2pkg('python-manilaclient') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('python-neutronclient') }}
BuildRequires:  {{ py2pkg('python-novaclient') }}
BuildRequires:  {{ py2pkg('os-api-ref') }}
BuildRequires:  {{ py2pkg('os-testr') }}
BuildRequires:  {{ py2pkg('oslo.concurrency') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.context') }}
BuildRequires:  {{ py2pkg('oslo.db') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.messaging') }}
BuildRequires:  {{ py2pkg('oslo.middleware') }}
BuildRequires:  {{ py2pkg('oslo.policy') }}
BuildRequires:  {{ py2pkg('oslo.serialization') }}
BuildRequires:  {{ py2pkg('oslo.service') }}
BuildRequires:  {{ py2pkg('oslo.versionedobjects') }}
BuildRequires:  {{ py2pkg('reno') }}
BuildRequires:  {{ py2pkg('requests') }}
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('sqlalchemy-migrate') }}
BuildRequires:  {{ py2pkg('stevedore') }}
BuildRequires:  {{ py2pkg('python-swiftclient') }}
BuildRequires:  {{ py2pkg('taskflow') }}
Requires:       logrotate
Requires:       python-{{ pypi_name }} = %{epoch}:%{version}-%{release}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%else
BuildRequires:  systemd
%endif

%description
Karbor is a Python implementation of the OpenStack
(http://www.openstack.org) Application Data Protection API.
.
This package contains the karbor python libraries.

%package -n     python-{{ pypi_name }}
Summary:        Karbor Python libraries
Group:          Applications/System
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('Paste') }}
Requires:       {{ py2pkg('PasteDeploy') }}
Requires:       {{ py2pkg('Routes') }}
Requires:       {{ py2pkg('SQLAlchemy') }}
Requires:       {{ py2pkg('WebOb') }}
Requires:       {{ py2pkg('abclient') }}
Requires:       {{ py2pkg('python-cinderclient') }}
Requires:       {{ py2pkg('croniter') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('python-glanceclient') }}
Requires:       {{ py2pkg('greenlet') }}
Requires:       {{ py2pkg('python-heatclient') }}
Requires:       {{ py2pkg('icalendar') }}
Requires:       {{ py2pkg('python-karborclient') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('keystonemiddleware') }}
Requires:       {{ py2pkg('python-manilaclient') }}
Requires:       {{ py2pkg('python-neutronclient') }}
Requires:       {{ py2pkg('python-novaclient') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.context') }}
Requires:       {{ py2pkg('oslo.db') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.messaging') }}
Requires:       {{ py2pkg('oslo.middleware') }}
Requires:       {{ py2pkg('oslo.policy') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.service') }}
Requires:       {{ py2pkg('oslo.versionedobjects') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('sqlalchemy-migrate') }}
Requires:       {{ py2pkg('stevedore') }}
Requires:       {{ py2pkg('python-swiftclient') }}
Requires:       {{ py2pkg('taskflow') }}

%description -n   python-{{ pypi_name }}
Karbor is a Python implementation of the OpenStack
(http://docs.openstack.org/developer/karbor/) Application Data Protection API.
This package contains the Karbor Python library.

%if 0%{?with_doc}
%package doc
Summary:        Documentation for OpenStack Application Data Protection Service
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}

%description doc
OpenStack Karbor documentaion.
.
This package contains the documentation
%endif

%package api
%if 0%{?suse_version}
%define apache_name         apache2
%define apache_site_dir     %{_sysconfdir}/%{apache_name}/vhosts.d/
BuildRequires:  apache2-mod_wsgi
Requires:       apache2-mod_wsgi
%else
%define apache_name         httpd
%define apache_site_dir     %{_sysconfdir}/%{apache_name}/conf.d/
BuildRequires:  mod_wsgi
Requires:       mod_wsgi
%endif
Summary:        OpenStack Karbor - API service
Group:          Applications/System
Requires:       %{name} = %{version}

%description api
OpenStack Karbor API service.

%package        operationengine
Summary:        OpenStack Karbor OperationEngine service
Requires:       %{name} = %{version}

%description    operationengine
OpenStack Karbor OperationEngine service.

%package        protection
Summary:        OpenStack Karbor Protection service
Requires:       %{name} = %{version}

%description    protection
OpenStack Karbor Protection service.

%prep
%autosetup -n {{ pypi_name }}-{{upstream_version}}
%py_req_cleanup


%build
%{py2_build}
export PYTHONPATH="."
# config file generation
oslo-config-generator --config-file etc/oslo-config-generator/karbor.conf \
--output-file etc/karbor.conf.sample
%if 0%{?with_doc}
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}
%endif


%install
%{py2_install}

# Install config files
mkdir -p %{buildroot}%{_sysconfdir}/karbor/
mkdir -p %{buildroot}%{_sysconfdir}/karbor/providers.d/
install -p -D -m 640 etc/karbor.conf.sample %{buildroot}%{_sysconfdir}/karbor/karbor.conf
install -p -D -m 640 etc/api-paste.ini %{buildroot}%{_sysconfdir}/karbor/api-paste.ini
install -p -D -m 640 etc/policy.json %{buildroot}%{_sysconfdir}/karbor/policy.json
install -p -D -m 640 etc/providers.d/*.conf %{buildroot}%{_sysconfdir}/karbor/providers.d/

# Setup log directory
mkdir -p %{buildroot}%{_localstatedir}/log/karbor

# Install logrotate
install -p -D -m 644 %{SOURCE1} %{buildroot}%{_sysconfdir}/logrotate.d/openstack-karbor

# Install apache configuration files
sed -i 's#/local/bin#/bin#' etc/apache2/apache-karbor-api.conf
%if 0%{?rdo}
# adjust paths to WSGI scripts
sed -i 's#apache2#httpd#' etc/apache2/apache-karbor-api.conf
%endif
install -d -m 755 %{buildroot}%{apache_site_dir}
install -p -D -m 644 etc/apache2/apache-karbor-api.conf  %{buildroot}%{_datarootdir}/karbor/wsgi-karbor.conf
install -p -D -m 644 etc/apache2/apache-karbor-api.conf  %{buildroot}%{apache_site_dir}/karbor.conf

# systemd unitfiles
install -p -D -m 644 %SOURCE2 %{buildroot}%{_unitdir}/openstack-karbor-operationengine.service
install -p -D -m 644 %SOURCE3 %{buildroot}%{_unitdir}/openstack-karbor-protection.service


%pre
%openstack_pre_user_group_create karbor karbor


%post operationengine
%systemd_post openstack-karbor-operationengine.service


%preun operationengine
%systemd_preun openstack-karbor-operationengine.service


%postun operationengine
%systemd_postun_with_restart openstack-karbor-operationengine.service


%post protection
%systemd_post openstack-karbor-protection.service


%preun protection
%systemd_preun openstack-karbor-protection.service


%postun protection
%systemd_postun_with_restart openstack-karbor-protection.service


%files
%license LICENSE
%doc README.rst
%dir %{_datarootdir}/karbor/
%dir %attr(0750, root, karbor) %{_sysconfdir}/karbor/
%dir %attr(0750, root, karbor) %{_sysconfdir}/karbor/providers.d/
%dir %attr(0750, karbor, karbor) %{_localstatedir}/log/karbor
%{_bindir}/karbor-manage
%config(noreplace) %{_sysconfdir}/logrotate.d/openstack-karbor
%config(noreplace) %attr(0640, root, karbor) %{_sysconfdir}/karbor/karbor.conf
%config(noreplace) %attr(0640, root, karbor) %{_sysconfdir}/karbor/api-paste.ini
%config(noreplace) %attr(0640, root, karbor) %{_sysconfdir}/karbor/policy.json
%config(noreplace) %attr(0640, root, karbor) %{_sysconfdir}/karbor/providers.d/*.conf

%files -n python-karbor
%license LICENSE
%{python2_sitelib}/karbor/
%{python2_sitelib}/karbor-*.egg-info

%files api
%{_bindir}/karbor-api
%{_bindir}/karbor-wsgi
%{_datarootdir}/karbor/wsgi-karbor.conf
%{apache_site_dir}/karbor.conf

%files operationengine
%{_bindir}/karbor-operationengine
%{_unitdir}/openstack-karbor-operationengine.service

%files protection
%{_bindir}/karbor-protection
%{_unitdir}/openstack-karbor-protection.service

%if 0%{?with_doc}
%files doc
%license LICENSE
%doc doc/build/html
%endif

%changelog
