{% set pypi_name = 'pbr' %}
{% set upstream_version = upstream_version('4.2.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Python Build Reasonableness
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://pypi.org/project/pbr
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('setuptools') }}
BuildArch:      noarch
%python_subpackages

%description
PBR is a library that injects some useful and sensible default behaviors into
your setuptools run. It started off life as the chunks of code that were copied
between all of the OpenStack projects. Around the time that OpenStack hit 18
different projects each with at least 3 active branches, it seems like a good
time to make that code into a proper re-usable library.

%package -n python-pbr-doc
Summary:        Documentation for the PBR
BuildRequires:  {{ py2pkg('Sphinx', py_versions=['py2', 'py3']) }}
Provides:       %{python_module pbr-doc = %{version}}

%description -n python-pbr-doc
Documentation for the PBR, a library that injects some useful and sensible default
behaviors into your setuptools run.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
export SKIP_PIP_INSTALL=1
%python_build

# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%python_install
%python_clone -a %{buildroot}%{_bindir}/pbr

%post
%python_install_alternative pbr

%postun
%python_uninstall_alternative pbr

%files %{python_files}
%python_alternative %{_bindir}/pbr
%doc README.rst
%license LICENSE
%{python_sitelib}/{{ pypi_name }}
%{python_sitelib}/{{ pypi_name }}-*-py?.?.egg-info

%files -n python-pbr-doc
%license LICENSE
%doc doc/build/html

%changelog
