{% set js_name = 'JS-Yaml' %}
%global sname {{ 'XStatic-' + js_name }}
Name:           {{ py2name('XStatic-' + js_name) }}
Version:        3.8.1.0
Release:        0
Summary:        {{ js_name }} %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-{{ js_name | lower }}/
Source0:        https://files.pythonhosted.org/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('setuptools') }}
Requires:       {{ py3('XStatic') }}
BuildArch:      noarch

%description
{{ js_name }} javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%doc README.txt
%{python3_sitelib}/xstatic
%{python3_sitelib}/XStatic_{{ js_name | replace('-', '_') }}-%{version}-py?.?.egg-info
%{python3_sitelib}/XStatic_{{ js_name | replace('-', '_') }}-%{version}-py?.?-nspkg.pth

%changelog
