Name:           {{ py2name('python-neutronclient') }}
Version:        6.2.0
Release:        0
Summary:        Python API and CLI for OpenStack Neutron
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            http://launchpad.net/%{name}
Source0:        https://pypi.io/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('cliff') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('keystoneauth1') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('mox3') }}
BuildRequires:  {{ py2pkg('netaddr') }}
BuildRequires:  {{ py2pkg('python-openstackclient') }}
BuildRequires:  {{ py2pkg('os-client-config') }}
BuildRequires:  {{ py2pkg('osc-lib') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.serialization') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('osprofiler') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('requests-mock') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('cliff') }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('netaddr') }}
Requires:       {{ py2pkg('os-client-config') }}
Requires:       {{ py2pkg('osc-lib') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('osprofiler') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('simplejson') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
Client library and command line utility for interacting with OpenStack
Neutron's API.

%package doc
Summary:        Documentation for OpenStack Neutron API Client
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('reno') }}

%description doc
Client library and command line utility for interacting with OpenStack
Neutron's API.

%prep
%autosetup -n %{name}-%{version}
%py_req_cleanup

%build
%py2_build

# Build HTML docs and man page
%{__python2} setup.py build_sphinx

%install
%py2_install

%check
%{__python2} setup.py testr

%files
%doc README.rst
%license LICENSE
%{python2_sitelib}/neutronclient
%{python2_sitelib}/*.egg-info
%{_bindir}/neutron

%files doc
%doc doc/build/html
%license LICENSE

%changelog
