%global sname XStatic-smart-table
%global openstack_name xstatic-angular-smart-table
Name:           {{ py2name('XStatic-smart-table') }}
Version:        1.4.13.2
Release:        0
Summary:        smart-table %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
Url:            https://git.openstack.org/cgit/openstack/%{openstack_name}/
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
smart-table javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_smart_table-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_smart_table-%{version}-py?.?-nspkg.pth

%changelog
