[Unit]
Description=Masakari host monitoring service
After=syslog.target network.target

[Service]
Type=simple
User=masakari
Restart=on-failure
ExecStart=/usr/bin/masakari-hostmonitor

[Install]
WantedBy=multi-user.target
