{% set pypi_name = 'oslo.reports' %}
{% set upstream_version = upstream_version('1.29.2') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack oslo.reports library
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
# https://review.openstack.org/588088
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('Jinja2', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('eventlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('greenlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.serialization', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('psutil', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('Jinja2') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('psutil') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch
%{python_subpackages}

%description
The project oslo.reports hosts a general purpose error report generation
framework, known as the "guru meditation report".

%package -n python-oslo.reports-doc
Summary:        Documentation for OpenStack reports library
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n python-oslo.reports-doc
The project oslo.reports hosts a general purpose error report generation
framework, known as the "guru meditation report".
This package contains the documentation.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{python_build}

# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{python_install}

%check
%python_exec -m stestr.cli run

%files %{python_files}
%license LICENSE
%doc README.rst ChangeLog
%{python2_sitelib}/oslo_reports
%{python2_sitelib}/*.egg-info

%files -n python-oslo.reports-doc
%license LICENSE
%doc doc/build/html

%changelog
