{% set pypi_name = 'ec2api-tempest-plugin' %}
{% set source=fetch_source('https://tarballs.openstack.org/ec2api-tempest-plugin/ec2api-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

Name:          {{ py2name(py_versions='py3') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the EC2 API project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://git.openstack.org/cgit/openstack/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('botocore') }}
Requires:      {{ py3('lxml') }}
Requires:      {{ py3('netaddr') }}
Requires:      {{ py3('oslo.config') }}
Requires:      {{ py3('oslo.log') }}
Requires:      {{ py3('paramiko') }}
Requires:      {{ py3('pbr') }}
Requires:      {{ py3('six') }}
Requires:      {{ py3('testtools') }}
BuildArch:     noarch

%description
This package contains Tempest tests to cover the EC2 API project.
Additionally it provides a plugin to automatically load these tests into Tempest.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/ec2api_tempest_plugin
%{python3_sitelib}/*.egg-info

%changelog
