{% set pypi_name = 'ironic-tempest-plugin' %}
{% set source=fetch_source('https://tarballs.opendev.org/openstack/ironic-tempest-plugin/ironic-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

Name:          {{ py2name(py_versions='py3') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the ironic project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://docs.openstack.org/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('fixtures') }}
Requires:      {{ py3('oslo.config') }}
Requires:      {{ py3('oslo.log') }}
Requires:      {{ py3('oslo.serialization') }}
Requires:      {{ py3('oslo.utils') }}
Requires:      {{ py3('pbr') }}
Requires:      {{ py3('six') }}
BuildArch:     noarch

%description
This package contains a Tempest plugin for OpenStack Bare Metal and
Bare Metal Introspection projects.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/ironic_tempest_plugin
%{python3_sitelib}/*.egg-info

%changelog
