{% set pypi_name = 'monasca-log-api' %}
{% set upstream_version = upstream_version('2.6.0') %}
{% set rpm_release = '1' %}

%define sname           {{ pypi_name }}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Monasca Log Api plugin
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://wiki.openstack.org/wiki/Monasca
Source0:        https://files.pythonhosted.org/packages/source/m/%{sname}/%{sname}-%{version}.tar.gz
Source1:        %{name}-wsgi.conf
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('falcon') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('keystonemiddleware') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('monasca-common') }}
BuildRequires:  {{ py2pkg('monasca-statsd') }}
BuildRequires:  {{ py2pkg('os-testr') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.context') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.middleware') }}
BuildRequires:  {{ py2pkg('oslo.serialization') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('simplejson') }}
Requires:       python-%{sname} = %{version}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  apache2-mod_wsgi
Requires:       apache2-mod_wsgi
%else
BuildRequires:  mod_wsgi
Requires:       mod_wsgi
%endif

%description
monasca-log-api is a RESTful API server receiving logs from the deployed
log agents.

%package -n python-%{sname}
Summary:        OpenStack Monasca Log Api plugin
Group:          Development/Languages/Python
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('falcon') }}
Requires:       {{ py2pkg('keystonemiddleware') }}
Requires:       {{ py2pkg('monasca-common') }}
Requires:       {{ py2pkg('monasca-statsd') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.context') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.middleware') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
BuildArch:      noarch

%description -n python-%{sname}
monasca-log-api is a RESTful API server receiving logs from the deployed
log agents.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
%py2_build
oslo-config-generator \
  --config-file config-generator/monasca-log-api.conf \
  --output-file etc/monasca/log-api.conf

%install
%py2_install

## directories
install -d -m 755 %{buildroot}%{_sysconfdir}/monasca
install -d -m 750 %{buildroot}%{_var}/log/monasca
install -d -m 755 %{buildroot}%{_var}/lib/monasca-log-api
install -d -m 755 %{buildroot}%{apache_site_dir}

## configuration directory
find %{buildroot}%{_prefix}%{_sysconfdir}/ -type f -name 'log-api-*' -print0 | xargs -0 mv -t %{buildroot}%{_sysconfdir}/monasca/
rm -rf %{buildroot}%{_prefix}%{_sysconfdir}/monasca

# configuration bits
# NOTEtrebskit) file names are hardcoded in monasca-log-api
# should be refactored when Bug#1670277 is resolved
install -D -m 640 etc/monasca/log-api.conf %{buildroot}%{_sysconfdir}/monasca/log-api.conf
install -D -m 640 etc/monasca/log-api-paste.ini %{buildroot}%{_sysconfdir}/monasca/log-api-paste.ini
install -D -m 640 etc/monasca/log-api-logging.conf %{buildroot}%{_sysconfdir}/monasca/log-api-logging.conf

## install apache configuration
install -p -D -m 640 %{SOURCE1} %{buildroot}%{apache_site_dir}/%{sname}.conf.sample
sed -e "
    s|__APACHE_NAME__|%{apache_name}|g;
" -i %{buildroot}%{apache_site_dir}/%{sname}.conf.sample

# there is extra directory /etc/monasca/monasca created, get rid of it
rm -rf %{_sysconfdir}/monasca/monasca || true

rm -f %{buildroot}%{python2_sitelib}/monasca_log_api/.gitignore

%check
find . -type f -name *.pyc -delete
OS_TEST_PATH=./monasca_log_api/tests PYTHONPATH=. ostestr

%pre
%openstack_pre_user_group_create monasca-log-api monasca

%postun
if [ $1 -eq 0 ] ; then
  getent passwd monasca-log-api > /dev/null
  if [ "$?" == "0" ] ; then
      userdel monasca-log-api
  fi
fi

%files
%doc README.rst ChangeLog
%{_bindir}/monasca-log-api
%{_bindir}/monasca-log-api-wsgi

%dir %attr(-, root, monasca) %{_sysconfdir}/monasca
%dir %attr(0750, root, monasca) %{_var}/log/monasca
%dir %attr(0750, monasca-log-api, monasca) %{_var}/lib/monasca-log-api

%config(noreplace) %attr(0640, root, monasca) %{_sysconfdir}/monasca/log-api.conf
%config(noreplace) %attr(0640, root, monasca) %{_sysconfdir}/monasca/log-api-logging.conf
%config(noreplace) %attr(0640, root, monasca) %{_sysconfdir}/monasca/log-api-paste.ini
%config(noreplace) %attr(0640, root, monasca) %{apache_site_dir}/%{sname}.conf.sample

%files -n python-%{sname}
%license LICENSE
%{python2_sitelib}/monasca_log_api
%{python2_sitelib}/monasca_log_api_tempest
%{python2_sitelib}/*.egg-info

%changelog
