{% set pypi_name = 'XStatic-Jasmine' %}
{% set upstream_version = upstream_version('2.4.1.2') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Jasmine %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-jasmine/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('setuptools') }}
Requires:       {{ py3('XStatic') }}
BuildArch:      noarch

%description
Jasmine JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%doc README.txt
%{python3_sitelib}/xstatic
%{python3_sitelib}/XStatic_Jasmine-%{version}-py?.?.egg-info
%{python3_sitelib}/XStatic_Jasmine-%{version}-py?.?-nspkg.pth

%changelog
