%global sname oslo.context
%bcond_with test
Name:          {{ py2pkg('oslo.context') }}
Version:       2.2.0
Release:       0
Summary:       OpenStack Oslo context library
Group:         Development/Languages
License:       {{ 'Apache-2.0' | license }}
Url:           https://launchpad.net/%{sname}
Source0:       https://pypi.python.org/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires: openstack-macros
BuildRequires: {{ py2pkg('Babel') }}
BuildRequires: {{ py2pkg('pbr') }}
BuildRequires: {{ py2pkg('setuptools') }}
%if %{with test}
BuildRequires: {{ py2pkg('hacking') }}
BuildRequires: {{ py2pkg('oslotest', (">=", "1.10.0")) }}
BuildRequires: {{ py2pkg('testrepository', (">=", "0.0.18")) }}
BuildRequires: {{ py2pkg('testscenarios', (">=", "0.4")) }}
BuildRequires: {{ py2pkg('testtools', (">=", "0.9.34")) }}
%endif
Requires:      {{ py2pkg('Babel', (">=", "1.3")) }}
Requires:      {{ py2pkg('pbr') }}
BuildArch:     noarch

%description
The Oslo context library has helpers to maintain useful information
about a request context.
The request context is usually populated in the WSGI pipeline and
used by various modules such as logging.

%package doc
Summary:       Documentation for OpenStack common configuration library
Group:         Documentation

BuildRequires: {{ py2pkg('Sphinx') }}
BuildRequires: {{ py2pkg('oslosphinx') }}
BuildRequires: {{ py2pkg('fixtures') }}

%description doc
Documentation for the oslo-context library.

%prep
%setup -q -n %{sname}-%{version}
# Remove bundled egg-info
rm -rf %{sname}.egg-info

%build
%{__python2} setup.py build
# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{__python2} setup.py install --skip-build --root %{buildroot}

%if %{with test}
%check
export PYTHONPATH="%{python2_sitearch}:%{python2_sitelib}:%{buildroot}%{python2_sitelib}"
export PYTHON="%{__python2} -S"
testr init && testr run --parallel
%endif

%files
%license LICENSE
%doc README.rst AUTHORS
%{python2_sitelib}/oslo_context
%{python2_sitelib}/*.egg-info

%files doc
%license LICENSE
%doc doc/build/html

%changelog
