%global sname oslo.context
%bcond_with test
Name:          {{ 'oslo.context' | py2pkg }}
Version:       2.2.0
Release:       0
Summary:       OpenStack Oslo context library
Group:         Development/Languages
License:       {{ 'Apache-2.0' | license }}
Url:           https://launchpad.net/%{sname}
Source0:       https://pypi.python.org/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires: openstack-macros
BuildRequires: {{ 'Babel' | py2pkg }}
BuildRequires: {{ 'pbr' | py2pkg }}
BuildRequires: {{ 'setuptools' | py2pkg }}
%if %{with test}
BuildRequires: {{ 'hacking' | py2pkg }}
BuildRequires: {{ 'oslotest' | py2pkg }} >= 1.10.0
BuildRequires: {{ 'testrepository' | py2pkg }} >= 0.0.18
BuildRequires: {{ 'testscenarios' | py2pkg }} >= 0.4
BuildRequires: {{ 'testtools' | py2pkg }} >= 0.9.34
%endif
Requires:      {{ 'Babel' | py2pkg }} >= 1.3
Requires:      {{ 'pbr' | py2pkg }}
BuildArch:     noarch

%description
The Oslo context library has helpers to maintain useful information
about a request context.
The request context is usually populated in the WSGI pipeline and
used by various modules such as logging.

%package doc
Summary:       Documentation for OpenStack common configuration library
Group:         Documentation

BuildRequires: {{ 'Sphinx' | py2pkg }}
BuildRequires: {{ 'oslosphinx' | py2pkg }}
BuildRequires: {{ 'fixtures' | py2pkg }}

%description doc
Documentation for the oslo-context library.

%prep
%setup -q -n %{sname}-%{version}
# Remove bundled egg-info
rm -rf %{sname}.egg-info

%build
%{__python2} setup.py build
# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{__python2} setup.py install --skip-build --root %{buildroot}

%if %{with test}
%check
export PYTHONPATH="%{python2_sitearch}:%{python2_sitelib}:%{buildroot}%{python2_sitelib}"
export PYTHON="%{__python2} -S"
testr init && testr run --parallel
%endif

%files
%license LICENSE
%doc README.rst AUTHORS
%{python2_sitelib}/oslo_context
%{python2_sitelib}/*.egg-info

%files doc
%license LICENSE
%doc doc/build/html

%changelog
