%global sname XStatic-Angular-Gettext
Name:           {{ py2name('XStatic-Angular-Gettext') }}
Version:        2.3.8.0
Release:        0
Summary:        Angular-Gettext %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-angular-gettext/
Source0:        https://files.pythonhosted.org/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
Angular-Gettext javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_Angular_Gettext-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_Angular_Gettext-%{version}-py?.?-nspkg.pth

%changelog
