{% set pypi_name = 'XStatic-roboto-fontface' %}
{% set upstream_version = upstream_version('0.5.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        roboto-fontface %{version} (XStatic packaging standard)
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://opendev.org/openstack/xstatic-roboto-fontface/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('XStatic') }}
BuildRequires:  {{ py3('setuptools') }}
BuildArch:      noarch

%description
roboto-fontface javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license xstatic/pkg/roboto_fontface/data/LICENSE
%doc README.txt
%{python3_sitelib}/xstatic
%{python3_sitelib}/XStatic*

%changelog
