{% set pypi_name = 'monasca-common' %}
{% set upstream_version = upstream_version('2.3.0') %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Reusable code for building monitoring related services.
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://wiki.openstack.org/wiki/Monasca
Source0:        https://files.pythonhosted.org/packages/source/m/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PyMySQL') }}
BuildRequires:  {{ py2pkg('kazoo') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('mox') }}
BuildRequires:  {{ py2pkg('nose') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('pyparsing') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('ujson') }}
Requires:       {{ py2pkg('PyMySQL') }}
Requires:       {{ py2pkg('kazoo') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('pyparsing') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('ujson') }}
BuildArch:      noarch
%if "%{version}" != "2.3.0"
# Currently monasca vendored kafka and will only eventually
# switch to pykafka. atm it is not used
BuildRequires:  {{ py2pkg('pykafka') }}
Requires:       {{ py2pkg('pykafka') }}
%endif

%description
Collection of sub-projects containing reusable application and
platform code for building monitoring related services.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%check
nosetests monasca_common --verbose

%files
%license LICENSE
%doc README.md ChangeLog
%{python2_sitelib}/monasca_common
%{python2_sitelib}/*.egg-info

%changelog
