{% set pypi_name = 'monasca-common' %}
{% set source = fetch_source('https://tarballs.openstack.org/monasca-common/monasca-common-stable-train.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Reusable code for building monitoring related services.
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://wiki.openstack.org/wiki/Monasca
Source0:        {{ source|basename }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PyMySQL', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('confluent-kafka', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('kazoo', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.context', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.policy', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pyparsing', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('ujson', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PyMySQL') }}
Requires:       {{ py2pkg('confluent-kafka') }}
Requires:       {{ py2pkg('kazoo') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.policy') }}
Requires:       {{ py2pkg('pyparsing') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('ujson') }}
BuildArch:      noarch
%python_subpackages

%description
Collection of sub-projects containing reusable application and
platform code for building monitoring related services.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
export LC_ALL=en_US.utf-8
%{python_build}

%install
export LC_ALL=en_US.utf-8
%{python_install}

%if 0%{?suse_version}
%check
export LC_ALL=en_US.utf-8
%python_exec -m stestr.cli run
%endif

%files %{python_files}
%license LICENSE
%doc README.rst ChangeLog
%{python_sitelib}/monasca_common
%{python_sitelib}/*.egg-info

%changelog
