{% set pypi_name = 'XStatic-Angular-Sanitize' %}
{% set upstream_version = upstream_version('1.2.1.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name(py_versions='py3') }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Angular-Sanitize %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://opendev.org/openstack/xstatic-angular-sanitize/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('setuptools') }}
Requires:       {{ py3('XStatic') }}
BuildArch:      noarch

%description
Angular-Sanitize javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%doc README.txt
%{python3_sitelib}/xstatic
%{python3_sitelib}/XStatic_Angular_Sanitize*

%changelog
