[Unit]
Description=OpenStack shared file system service (Manila) - Data
After=syslog.target network.target

[Service]
Type=notify
User=manila
Group=manila
WorkingDirectory=/var/lib/manila
PrivateTmp=yes
ExecStart=/usr/bin/manila-data

[Install]
WantedBy=multi-user.target
