{% set pypi_name = 'networking-l2gw' %}
{% set source = fetch_source('https://tarballs.openstack.org/networking-l2gw/networking-l2gw-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '0' %}

%global sname networking_l2gw
%global agname openstack-neutron-l2gw-agent
%global common_desc \
This project proposes a Neutron API extension that can be used to express and \
manage L2 Gateway components. In the simplest terms L2 Gateways are meant to \
bridge two or more networks together to make them look as a single L2 broadcast \
domain.
%bcond_without docs
%bcond_without test
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Epoch:          {{ epoch('{{ pypi_name }}') }}
Summary:        L2 Gateway service for Neutron
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source|basename }}
Source1:        %{agname}.service
BuildRequires:  fdupes
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('pbr') }}
BuildRequires:  {{ py3('setuptools') }}
Requires:       python3-{{ pypi_name }} = %{epoch}:%{version}-%{release}
BuildArch:      noarch
%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%{?systemd_requires}
%else
BuildRequires:  systemd
Requires(post): systemd
Requires(postun): systemd
Requires(preun): systemd
%endif
%if %{with test}
BuildRequires:  {{ py3('mock') }}
BuildRequires:  python3-neutron
BuildRequires:  {{ py3('oslotest') }}
BuildRequires:  {{ py3('python-subunit') }}
BuildRequires:  {{ py3('requests-mock') }}
BuildRequires:  {{ py3('testrepository') }}
BuildRequires:  {{ py3('testscenarios') }}
BuildRequires:  {{ py3('testtools') }}
%endif

%description
%{common_desc}

%package -n python3-{{ pypi_name }}
Summary:        L2 Gateway service for Neutron - python libraries
Requires:       {{ py3('Babel') }}
Requires:       python3-neutron
Requires:       {{ py3('neutron-lib') }}
Requires:       {{ py3('python-neutronclient') }}
Requires:       {{ py3('ovsdbapp') }}
Requires:       {{ py3('pbr') }}

%description -n python3-{{ pypi_name }}
%{common_desc}

This package contains the python libraries.

%if %{with docs}
%package doc
Summary:        L2 Gateway service for Neutron - Documentation
Group:          Documentation/HTML
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('openstackdocstheme') }}

%description doc
%{common_desc}

This package contains the documentation.
%endif

%package -n %{agname}
Summary:    Neutron L2 Gateway Agent
Requires:   %{name} = %{epoch}:%{version}-%{release}

%description -n %{agname}
%{common_desc}

This package constains the L2 Gateway agent.

%if %{with test}
%package -n python3-{{ pypi_name }}-tests
Summary:    L2 Gateway service for neutron - Tests
Requires:   {{ py3('mock') }}
Requires:   python3-{{ pypi_name }} = %{epoch}:%{version}-%{release}
Requires:   {{ py3('oslotest') }}
Requires:   {{ py3('python-subunit') }}
Requires:   {{ py3('requests-mock') }}
Requires:   {{ py3('testrepository') }}
Requires:   {{ py3('testresources') }}
Requires:   {{ py3('testscenarios') }}
Requires:   {{ py3('testtools') }}

%description -n python3-{{ pypi_name }}-tests
%{common_desc}

This package contains the set of tests for L2 Gateway Neutron service.
%endif

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

# Remove bundled egg-info
rm -rf %{pypi_name}.egg-info

%build
%py3_build

%if %{with docs}
PBR_VERSION={{ upstream_version }} %sphinx_build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}
%fdupes doc/build/html/
%endif

%install
%py3_install

# remove duplicates
%python_expand %fdupes %{buildroot}%{$python3_sitelib}

install -p -D -m 640 etc/l2gateway_agent.ini %{buildroot}%{_sysconfdir}/neutron/l2gateway_agent.ini
install -p -D -m 640 etc/l2gw_plugin.ini %{buildroot}%{_sysconfdir}/neutron/l2gw_plugin.ini

# Install systemd units
install -p -D -m 755 %{SOURCE1} %{buildroot}%{_unitdir}/%{agname}.service

# Remove duplicate config files under /usr/etc/
rm -rf %{buildroot}%{_prefix}/%{_sysconfdir}

%if %{with test}
%check
rm -rf .testrepository
PYTHON=python3 python3 setup.py test
%endif

%post -n %{agname}
%systemd_post %{agname}.service

%preun -n %{agname}
%systemd_preun %{agname}.service

%postun -n %{agname}
%systemd_postun_with_restart %{agname}.service

%files
%doc README.rst
%license LICENSE
%dir %{_sysconfdir}/neutron
%config(noreplace) %attr(-, root, neutron) %{_sysconfdir}/neutron/l2gw_plugin.ini

%files -n python3-{{ pypi_name }}
%license LICENSE
%{python3_sitelib}/%{sname}
%{python3_sitelib}/%{sname}-*.egg-info
%if %{with test}
%exclude %{python3_sitelib}/%{sname}/tests
%endif

%if %{with docs}
%files doc
%license LICENSE
%doc doc/build/html
%endif

%if %{with test}
%files -n python3-{{ pypi_name }}-tests
%license LICENSE
%{python3_sitelib}/%{sname}/tests
%endif

%files -n %{agname}
%license LICENSE
%config(noreplace) %attr(-, root, neutron) %{_sysconfdir}/neutron/l2gateway_agent.ini
%{_bindir}/neutron-l2gateway-agent
%{_unitdir}/%{agname}.service

%changelog
