%global sname tripleo-common
%global sversion 7.6.0
Name:           {{ py2name('tripleo-common') }}
Version:        7.6.0
Release:        0
Summary:        Python library for code used by TripleO projects
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/%{sname}
Source0:        https://pypi.io/packages/source/t/%{sname}/%{sname}-%{sversion}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('GitPython') }}
BuildRequires:  {{ py2pkg('PyYAML') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('docker') }}
BuildRequires:  {{ py2pkg('gitdb') }}
BuildRequires:  {{ py2pkg('python-heatclient') }}
BuildRequires:  {{ py2pkg('python-ironic-inspector-client') }}
BuildRequires:  {{ py2pkg('python-ironicclient') }}
BuildRequires:  {{ py2pkg('mistral-lib') }}
BuildRequires:  {{ py2pkg('python-mistralclient') }}
BuildRequires:  {{ py2pkg('oslo.concurrency') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('paramiko') }}
BuildRequires:  {{ py2pkg('passlib') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('GitPython') }}
Requires:       {{ py2pkg('Jinja2') }}
# FIXME(jpena): specifying a version below is apparently needed for RDO
Requires:       {{ py2pkg('docker') }} >= 2.0.0
Requires:       {{ py2pkg('gitdb') }}
Requires:       {{ py2pkg('python-glanceclient') }}
Requires:       {{ py2pkg('python-heatclient') }}
Requires:       {{ py2pkg('python-ironic-inspector-client') }}
Requires:       {{ py2pkg('python-ironicclient') }}
Requires:       {{ py2pkg('mistral-lib') }}
Requires:       {{ py2pkg('python-mistralclient') }}
Requires:       {{ py2pkg('netifaces') }}
Requires:       {{ py2pkg('python-novaclient') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('paramiko') }}
Requires:       {{ py2pkg('passlib') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
Python library for code used by TripleO projects.

%package doc
Summary:        Documentation for Python library for code used by TripleO projects
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description      doc
Python library for code used by TripleO projects.
This package contains auto-generated documentation.

%package devtools
Summary: A collection of tools for TripleO developers and CI
Requires: %{name} = %{version}-%{release}

%description devtools
This package installs the TripleO tools for developers and CI that typically
don't fit in a product.

%prep
%autosetup -n %{sname}-%{sversion}
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{py2_build}

%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{py2_install}


%check
%{__python2} setup.py testr

%files
%doc README.rst ChangeLog
%license LICENSE
%{python2_sitelib}/tripleo_common
%{python2_sitelib}/*.egg-info
%dir %{_prefix}/lib/heat
%{_prefix}/lib/heat/undercloud_heat_plugins
%{_bindir}/create_freeipa_enroll_envfile.py
%{_bindir}/run-validation
%{_bindir}/upgrade-non-controller.sh
%{_bindir}/upload-puppet-modules
%{_bindir}/upload-swift-artifacts
%{_bindir}/tripleo-build-images
%{_bindir}/bootstrap_host_exec
%{_datadir}/%{sname}

%files doc
%license LICENSE
%doc doc/build/html

%files devtools
%{_bindir}/pull-puppet-modules

%changelog

