{% set pypi_name = 'XStatic-Hogan' %}
{% set upstream_version = upstream_version('2.0.0.2') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Hogan %{version} (XStatic packaging standard)
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://opendev.org/openstack/XStatic-Hogan/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('setuptools') }}
Requires:       {{ py3('XStatic') }}
BuildArch:      noarch

%description
Hogan JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%doc README.txt
%{python3_sitelib}/xstatic
%{python3_sitelib}/XStatic_Hogan-%{version}-py?.?.egg-info
%{python3_sitelib}/XStatic_Hogan-%{version}-py?.?-nspkg.pth

%changelog
