%define with_tests 1
{% set pypi_name = 'os-xenapi' %}
{% set upstream_version = upstream_version('0.3.4') %}
{% set rpm_release = '1' %}
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        XenAPI library for OpenStack projects
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        https://files.pythonhosted.org/packages/source/o/{{ pypi_name }}/{{ pypi_name }}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  python-devel
BuildRequires:  {{ py2pkg('eventlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('os-testr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.concurrency', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.log', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('paramiko', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('paramiko') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch
%python_subpackages

%description
XenAPI library for OpenStack projects.

%package -n {{ py2name() }}-doc
Summary:        Documentation for OpenStack log library
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}

%description -n {{ py2name() }}-doc
Documentation for the os-xenapi module.

%prep
%autosetup -p1 -n {{pypi_name }}-%{version}
%py_req_cleanup

%build
%{python_build}

# generate html docs
%{__python2} setup.py build_sphinx
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{python_install}

%python_clone -a %{buildroot}%{_bindir}/xenapi_bootstrap

%post
%python_install_alternative xenapi_bootstrap

%postun
%python_uninstall_alternative xenapi_bootstrap


%if 0%{?with_tests}
%check
ostestr --blacklist_file exclusion_py3.txt --concurrency 1
%endif

%files %{python_files}
%license LICENSE
%doc ChangeLog README.rst
%{python_sitelib}/os_xenapi
%{python_sitelib}/*.egg-info
%python_alternative %{_bindir}/xenapi_bootstrap

%files -n {{ py2name() }}-doc
%license LICENSE
%doc doc/build/html

%changelog
