Ceilometer aims to deliver a unique point of contact for billing systems to
aquire all counters they need to establish customer billing, across all
current and future OpenStack components. The delivery of counters must be
tracable and auditable, the counters must be easily extensible to support new
projects, and agents doing data collections should be independent of the
overall system.

Monasca Ceilometer (Ceilosca) is an add-on to Ceilometer which enables the
metering data to be stored in Monasca Datastore via publisher mechanism as
monasca metrics.  Monasca Ceilometer also provides monasca storage driver which
enables access to the monasca metrics via the Ceilometer V2 API.

Please refer to https://wiki.openstack.org/wiki/Ceilosca for monasca-ceilometer
specific configuration instructions.
