[Unit]
Description=OpenStack ceilometer collector service
After=syslog.target network.target
After=mysql.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=ceilometer
Group=ceilometer
WorkingDirectory=/var/lib/ceilometer
PrivateTmp=yes
ExecStart=/usr/bin/ceilometer-collector

[Install]
WantedBy=multi-user.target
