Name:           {{ py2name('python-troveclient') }}
Version:        2.17.0
Release:        0
Summary:        Client library for OpenStack DBaaS API
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/%{name}
Source0:        https://files.pythonhosted.org/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PrettyTable') }}
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('httplib2') }}
BuildRequires:  {{ py2pkg('keystoneauth1') }}
BuildRequires:  {{ py2pkg('python-mistralclient') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('requests') }}
BuildRequires:  {{ py2pkg('requests-mock') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('simplejson') }}
BuildRequires:  {{ py2pkg('sphinxcontrib-apidoc') }}
BuildRequires:  {{ py2pkg('stestr') }}
BuildRequires:  {{ py2pkg('python-swiftclient') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('python-mistralclient') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('simplejson') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('python-swiftclient') }}
BuildArch:      noarch

%description
This is a client for the Trove API. There's a Python API (the
troveclient module), and a command-line script (trove). Each
implements 100% (or less ;) ) of the Trove API.

%package doc
Summary:        Documentation for OpenStack DBaaS API.
Group:          Documentation/HTML
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description doc
Documentation for the client library for interacting with Openstack
DBaaS API.

%prep
%autosetup -n %{name}-%{version}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%py2_build
# Generate html docs
PBR_VERSION=%version sphinx-build -b html doc/source doc/build/html
# Remove the Sphinx-build leftovers
rm -r doc/build/html/.{doctrees,buildinfo}

%install
%py2_install

%check
stestr run

%files
%doc README.rst
%license LICENSE
%{python2_sitelib}/python_troveclient-*.egg-info
%{python2_sitelib}/troveclient
%{_bindir}/trove

%files doc
%doc doc/build/html
%license LICENSE

%changelog
