[Unit]
Description=OpenStack Freezer scheduler agent
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/freezer-scheduler start
Restart=on-failure

[Install]
WantedBy=multi-user.target
