{% set pypi_name = 'futurist' %}
{% set upstream_version = upstream_version('1.8.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Useful additions to futures, from the future.
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('PrettyTable', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('Sphinx', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('contextlib2', py_versions=['py2']) }}
BuildRequires:  {{ py2pkg('eventlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('futures', py_versions=['py2']) }}
BuildRequires:  {{ py2pkg('monotonic', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('openstackdocstheme', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('monotonic') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch
%ifpython2
Requires:       {{ py2pkg('contextlib2') }}
Requires:       {{ py2pkg('futures') }}
%endif
%python_subpackages

%description
Useful additions to futures, from the future.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{python_build}

# generate html docs
PBR_VERSION={{ upstream_version }} sphinx-build -b html doc/source doc/build/html

%install
%{python_install}

%check
%python_exec -m stestr.cli run

%files %{python_files}
%doc doc/build/html README.rst
%license LICENSE
%{python_sitelib}/futurist
%{python_sitelib}/futurist-*-py?.?.egg-info

%changelog
