{% set pypi_name = 'futurist' %}
{% set upstream_version = upstream_version('2.4.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Useful additions to futures, from the future.
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://docs.openstack.org/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('PrettyTable') }}
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('eventlet') }}
BuildRequires:  {{ py3('monotonic') }}
BuildRequires:  {{ py3('openstackdocstheme') }}
BuildRequires:  {{ py3('oslotest') }}
BuildRequires:  {{ py3('pbr') }}
BuildRequires:  {{ py3('six') }}
BuildRequires:  {{ py3('stestr') }}
BuildRequires:  {{ py3('testscenarios') }}
BuildArch:      noarch

%description
Useful additions to futures, from the future.

%package -n {{ py2name(py_versions='py3') }}
Summary:        Useful additions to futures, from the future.
Requires:       {{ py3('PrettyTable') }}
Requires:       {{ py3('six') }}

%description -n {{ py2name(py_versions='py3') }}
Useful additions to futures, from the future.

This package contains the Python 3.x module.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

# generate html docs
PBR_VERSION={{ upstream_version }} %sphinx_build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -r doc/build/html/.{doctrees,buildinfo}

%install
%{py3_install}

%check
python3 -m stestr.cli run

%files -n {{ py2name(py_versions='py3') }}
%doc doc/build/html README.rst
%license LICENSE
%{python3_sitelib}/futurist
%{python3_sitelib}/futurist-*-py?.*.egg-info

%changelog
