%global sname XStatic-JQuery.quicksearch
Name:           {{ py2name('XStatic-JQuery.quicksearch') }}
Version:        2.0.3.1
Release:        0
Summary:        JQuery.quicksearch %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-jquery.quicksearch/
Source0:        https://files.pythonhosted.org/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
JQuery.quicksearch JavaScript library packaged for setuptools (easy_install)
/ pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_JQuery.quicksearch-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_JQuery.quicksearch-%{version}-py?.?-nspkg.pth

%changelog
