Name:           {{ py2name('oslosphinx') }}
Version:        4.3.0
Release:        0
Summary:        OpenStack Sphinx
License:        Apache-2.0
Group:          Development/Languages/Python
Url:            https://launchpad.net/oslosphinx
Source0:        https://pypi.io/packages/source/o/oslosphinx/oslosphinx-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('pbr', (">=", "1.8")) }}
Requires:       {{ py2pkg('requests', (">=", "2.8.1")) }}
Requires:       {{ py2pkg('six', (">=", "1.9.0")) }}
BuildArch:      noarch

%description
The Oslo Sphinx library provides an OpenStack common
layer of Sphinx plugins.

%prep
%setup -q -n oslosphinx-%{version}

%build
%{__python2} setup.py build

%install
%{__python2} setup.py install --skip-build --root=%{buildroot} --prefix=%{_prefix} --install-data=%{python2_sitelib}

%files
%defattr(-,root,root,-)
%doc README.rst AUTHORS
%license LICENSE
%{python2_sitelib}/oslosphinx
%{python2_sitelib}/*.egg-info

%changelog
