{% set pypi_name = 'oslo.utils' %}
{% set upstream_version = upstream_version('3.37.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Utils Library
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Babel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('ddt', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('debtcollector', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('fixtures', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('iso8601', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('monotonic', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('netaddr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('netifaces', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pyparsing', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('python-subunit', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('monotonic') }}
Requires:       {{ py2pkg('netaddr') }}
Requires:       {{ py2pkg('netifaces') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('pyparsing') }}
Requires:       {{ py2pkg('pytz') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch
%python_subpackages

%description
The oslo.utils library provides support for common utility type functions,
such as encoding, exception handling, string manipulation, and time handling.

%package -n python-oslo.utils-doc
Summary:        Documentation for OpenStack utils library
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n python-oslo.utils-doc
Documentation for OpenStack utils library.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}

sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg
%py_req_cleanup

%build
%python_build

%install
%python_install

# generate html docs
#%{__python2} setup.py build_sphinx
PBR_VERSION={{ upstream_version }} sphinx-build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%check
%python_exec -m stestr.cli run

%files %{python_files}
%license LICENSE
%doc ChangeLog README.rst
%{python2_sitelib}/oslo_utils
%{python2_sitelib}/*.egg-info

%files -n python-oslo.utils-doc
%doc doc/build/html
%license LICENSE

%changelog
