[Unit]
Description=OpenStack Murano Engine
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
User=murano
Group=murano
WorkingDirectory=/var/lib/murano
PrivateTmp=yes
ExecStart=/usr/bin/murano-engine
Restart=on-failure

[Install]
WantedBy=multi-user.target
