{% set pypi_name = 'mox3' %}
{% set upstream_version = upstream_version('1.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        An unofficial port of the Google mox framework to Python 3
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://bugs.launchpad.net/python-mox3
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py3('coverage') }}
BuildRequires:  {{ py3('fixtures') }}
BuildRequires:  {{ py3('pbr') }}
BuildRequires:  {{ py3('python-subunit') }}
BuildRequires:  {{ py3('setuptools') }}
BuildRequires:  {{ py3('stestr') }}
BuildRequires:  {{ py3('testtools') }}
BuildArch:      noarch

%description
Mox3 is an unofficial port of the Google mox framework to Python 3. It
was meant to be as compatible with mox as possible, but small
enhancements have been made.

%package -n {{ py2name(py_versions='py3') }}
Summary:        An unofficial port of the Google mox framework to Python 3
Requires:       {{ py3('fixtures') }}
Requires:       {{ py3('pbr') }}

%description -n {{ py2name(py_versions='py3') }}
Mox3 is an unofficial port of the Google mox framework to Python 3. It
was meant to be as compatible with mox as possible, but small
enhancements have been made.

This package contains the Python 3.x module.

%package -n python-mox3-doc
Summary:        Documentation for %{name}
Group:          Documentation/HTML
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('openstackdocstheme') }}

%description -n python-mox3-doc
Mox3 is an unofficial port of the Google mox framework to Python 3. It
was meant to be as compatible with mox as possible, but small
enhancements have been made. The library was tested on Python version
3.2, 2.7 and 2.6.

This package contains documentation in HTML format.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%py3_build

# generate html docs
PBR_VERSION={{ upstream_version }} %sphinx_build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%check
python3 -m stestr.cli run

%install
%py3_install

%files -n {{ py2name(py_versions='py3') }}
%license COPYING.txt
%doc README.rst
%{python3_sitelib}/{{ pypi_name }}
%{python3_sitelib}/{{ pypi_name }}-*.egg-info

%files -n python-mox3-doc
%license COPYING.txt
%doc doc/build/html

%changelog
