[Unit]
Description=OpenStack Ironic - API
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
User=ironic
Group=ironic
WorkingDirectory=/var/lib/ironic
PrivateTmp=yes
ExecStartPre=-/usr/bin/ironic-dbsync
ExecStart=/usr/bin/ironic-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
