#  Licensed under the Apache License, Version 2.0 (the "License"); you may
#  not use this file except in compliance with the License. You may obtain
#  a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations
#  under the License.

{% set pypi_name = 'monasca-agent' %}
{% set source = fetch_source('http://tarballs.openstack.org/monasca-agent/monasca-agent-stable-ocata.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}

%define username            monasca-agent
%define groupname           monasca

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack Monasca metrics agent
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://wiki.openstack.org/wiki/Monasca
Source0:        {{ source|basename }}
Source1:        %{name}-sudoers
Source2:        %{name}.service
Source3:        openstack-monasca-agent.tmpfiles
BuildRequires:  openstack-macros

%if 0%{?suse_version}
BuildRequires:  systemd-rpm-macros
%{?systemd_requires}
%else
BuildRequires:  systemd
Requires(post): systemd
Requires(preun):    systemd
Requires(postun):   systemd
%endif

BuildRequires:  {{ py2pkg('PyYAML') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('gevent') }}
BuildRequires:  {{ py2pkg('httplib2') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('python-monascaclient') }}
BuildRequires:  {{ py2pkg('netaddr') }}
BuildRequires:  {{ py2pkg('nose') }}
BuildRequires:  {{ py2pkg('ntplib') }}
BuildRequires:  {{ py2pkg('oslo.concurrency') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.middleware') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslo.vmware') }}
BuildRequires:  {{ py2pkg('psutil') }}
BuildRequires:  {{ py2pkg('pymongo') }}
BuildRequires:  {{ py2pkg('python-memcached') }}
BuildRequires:  {{ py2pkg('redis') }}
BuildRequires:  {{ py2pkg('requests') }}
BuildRequires:  {{ py2pkg('stevedore') }}
BuildRequires:  sudo
BuildRequires:  {{ py2pkg('supervisor') }}
BuildRequires:  {{ py2pkg('tornado') }}
Requires:       python-%{sname} = %{version}-%{release}
BuildArch:      noarch

%description
The Monasca Agent is a modern Python monitoring agent for gathering metrics and
sending them to the Monasca API.

%package -n python-%{sname}
Summary:        Python module for monasca-agent
Group:          Development/Languages/Python
Requires:       {{ py2pkg('PyYAML') }}
Requires:       {{ py2pkg('gevent') }}
Requires:       {{ py2pkg('httplib2') }}
Requires:       {{ py2pkg('python-monascaclient') }}
Requires:       {{ py2pkg('netaddr') }}
Requires:       {{ py2pkg('ntplib') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.middleware') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('oslo.vmware') }}
Requires:       {{ py2pkg('psutil') }}
Requires:       {{ py2pkg('pymongo') }}
Requires:       {{ py2pkg('python-memcached') }}
Requires:       {{ py2pkg('redis') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('stevedore') }}
Requires:       {{ py2pkg('supervisor') }}
Requires:       {{ py2pkg('tornado') }}

%description -n python-%{sname}
The Monasca Agent is a modern Python monitoring agent for gathering metrics and
sending them to the Monasca API.

This package contains monasca-agent Python module.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
# Super hack: in a Newton env, make it Newton compatible
if rpm -q --qf "%{VERSION}\n" {{ py2pkg('oslo.utils') }} | grep -q 3.16; then
    sed -i -e "s,oslo.utils>=3.18.0,oslo.utils>=3.16.0," requirements.txt
fi
%py2_build

%install
%py2_install

# /etc
%{__install} -d -m 750 %{buildroot}%{_sysconfdir}/monasca/agent/conf.d

# /usr/lib
%{__install} -d -m 750 %{buildroot}%{_exec_prefix}/lib/monasca/agent/custom_checks.d
%{__install} -d -m 750 %{buildroot}%{_exec_prefix}/lib/monasca/agent/custom_detect.d

# /var
install -d -m 750  %{buildroot}%{_localstatedir}/log/%{sname}

# sudoers configuration
%{__install} -D -m 440 %{SOURCE1} %{buildroot}%{_sysconfdir}/sudoers.d/%{name}

# systemd unit file
install -D -m 644 %{SOURCE2} %{buildroot}%{_unitdir}/%{name}.service
%if 0%{?suse_version}
mkdir -p %{buildroot}%{_sbindir}
ln -sr %{buildroot}%{_sbindir}/service %{buildroot}%{_sbindir}/rc%{name}
%endif

# systemd tmpfile
install -D -m 644 %{SOURCE3} %{buildroot}/%{_tmpfilesdir}/openstack-monasca-agent.conf

%pre
# create user and groups
%openstack_pre_user_group_create %{username} %{groupname}

%post
%tmpfiles_create %{_tmpfilesdir}/openstack-monasca-agent.conf
%systemd_post %{name}.service

%preun
%systemd_preun %{name}.service

%postun
%systemd_postun %{name}.service

%check
find . -type f -name *.pyc -delete
PYTHONPATH=. NOSE_EXCLUDE=test_override_values nosetests tests -v

%files
%dir %{_sysconfdir}/monasca
%dir %attr(0750, %{username}, %{groupname}) %{_sysconfdir}/monasca/agent
%dir %attr(0750, %{username}, %{groupname}) %{_sysconfdir}/monasca/agent/conf.d
%_tmpfilesdir/openstack-monasca-agent.conf
%config %{_sysconfdir}/monasca/agent
%config %{_sysconfdir}/sudoers.d/%{name}
%dir %{_exec_prefix}/lib/monasca
%{_exec_prefix}/lib/monasca/agent
%dir %attr(0750, %{username}, %{groupname}) %{_localstatedir}/log/%{sname}
%{_unitdir}/%{name}.service
%if 0%{?suse_version}
%{_sbindir}/rc%{name}
%endif

%files -n python-%{sname}
%doc README.md
%license LICENSE
%{_bindir}/monasca-collector
%{_bindir}/monasca-forwarder
%{_bindir}/monasca-setup
%{_bindir}/monasca-statsd
%{python2_sitelib}/monasca_agent
%{python2_sitelib}/monasca_agent-*.egg-info
%{python2_sitelib}/monasca_setup
%dir %{_datadir}/monasca
%{_datadir}/monasca/agent

%changelog
