[Unit]
Description=Monasca Agent - Statsd
PartOf=openstack-monasca-agent.target
After=openstack-monasca-forwarder.service
Wants=openstack-monasca-forwarder.service

[Service]
Type=simple
User=monasca-agent
Group=monasca
Restart=always
ExecStart=/usr/bin/monasca-statsd

[Install]
WantedBy=multi-user.target
