[Unit]
Description=Monasca Agent - Collector
PartOf=openstack-monasca-agent.target
After=openstack-monasca-forwarder.service
Wants=openstack-monasca-forwarder.service

[Service]
Type=simple
User=monasca-agent
Group=monasca
Restart=always
ExecStart=/usr/bin/monasca-collector foreground

[Install]
WantedBy=multi-user.target
