{% set pypi_name = 'oslo.privsep' %}
{% set upstream_version = upstream_version('1.32.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack library for privilege separation
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('Sphinx', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('cffi', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('eventlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('greenlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('msgpack', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('openstackdocstheme', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.log', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('cffi') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('greenlet') }}
Requires:       {{ py2pkg('msgpack') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
BuildArch:      noarch
%ifpython2
BuildRequires:  {{ py2pkg('enum34') }}
BuildRequires:  {{ py2pkg('futures') }}
Requires:       {{ py2pkg('enum34') }}
Requires:       {{ py2pkg('futures') }}
%endif
%if 0%{?suse_version}
Requires(post): update-alternatives
Requires(postun): update-alternatives
%else
# on RDO, update-alternatives is in chkconfig
Requires(post): chkconfig
Requires(postun): chkconfig
%endif
%python_subpackages

%description
OpenStack library for privilege separation

%package -n {{ py2name() }}-doc
Summary:        oslo.privsep documentation
Requires:       %{name} = %{version}

%description -n {{ py2name() }}-doc
Documentation for oslo.privsep

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%python_build
# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%python_install
%python_clone -a %{buildroot}%{_bindir}/privsep-helper

%post
%python_install_alternative privsep-helper

%postun
%python_uninstall_alternative privsep-helper

%check
%{python_expand export PYTHONPATH=.
$python  -m stestr.cli run
}

%files %{python_files}
%doc README.rst
%license LICENSE
%python_alternative %{_bindir}/privsep-helper
%{python_sitelib}/oslo_privsep
%{python_sitelib}/{{ pypi_name }}-*-py?.?.egg-info

%files -n {{ py2name() }}-doc
%doc doc/build/html

%changelog
