{% set pypi_name = 'oslo.privsep' %}
{% set upstream_version = upstream_version('1.26.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack library for privilege separation
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('Babel') }}
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('cffi') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('enum34') }}
BuildRequires:  {{ py2pkg('eventlet') }}
BuildRequires:  {{ py2pkg('greenlet') }}
BuildRequires:  {{ py2pkg('msgpack-python') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('cffi') }}
Requires:       {{ py2pkg('enum34') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('greenlet') }}
Requires:       {{ py2pkg('msgpack-python') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.utils') }}
BuildArch:      noarch

%description
OpenStack library for privilege separation

%package doc
Summary:        oslo.privsep documentation
Requires:       %{name} = %{version}

%description doc
Documentation for oslo.privsep

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%py2_build
# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf html/.{doctrees,buildinfo}

%install
%py2_install

%check
# FIXME: Disable tests failing in Fuel CI
# https://review.openstack.org/#/c/340524/
# Temporarily blacklist failing test
testr list-tests | \
grep -v oslo_privsep.tests.test_daemon.TestDaemon.test_drop_privs > tests
PYTHONPATH=. %{__python2} setup.py testr --testr-args "--load-list tests"

%files
%doc README.rst
%license LICENSE
%{_bindir}/privsep-helper
%{python2_sitelib}/oslo_privsep
%{python2_sitelib}/{{ pypi_name }}-*-py?.?.egg-info

%files doc
%doc doc/build/html

%changelog
