{% set pypi_name = 'barbican-tempest-plugin' %}
{% set source=fetch_source('https://tarballs.openstack.org/barbican-tempest-plugin/barbican-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

Name:          {{ py2name(py_versions='py3') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the barbican project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://opendev.org/openstack/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('cryptography') }}
Requires:      {{ py3('oslo.config') }}
Requires:      {{ py3('pbr') }}
Requires:      {{ py3('six') }}
BuildArch:     noarch

%description
This package contains Tempest tests to cover the barbican project.
Additionally it provides a plugin to automatically load these tests into Tempest.

%prep
%autosetup -p1 -n barbican_tempest_plugin-{{ upstream_version }}

# Let's handle dependencies ourseleves
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/barbican_tempest_plugin
%{python3_sitelib}/*.egg-info

%changelog
