[Unit]
Description=Collect metadata and run hook commands.
After=cloud-final.service
Before=crond.service

[Service]
ExecStart=/usr/bin/os-collect-config
Restart=on-failure
KillMode=process
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
