{% set pypi_name = 'murano-dashboard' %}
{% set upstream_version = upstream_version('4.0.0') %}
{% set rpm_release = '1' %}

%global sname {{ pypi_name }}
%if 0%{?rhel} || 0%{?fedora}
%global rdo 1
%global http_dashboard_dir %{_datarootdir}/openstack-dashboard
%else
%global http_dashboard_dir /srv/www/openstack-dashboard
%endif
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        The Murano Dashboard
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://wiki.openstack.org/wiki/Murano
Source0:        https://pypi.io/packages/source/m/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  fdupes
BuildRequires:  {{ py2pkg('horizon') }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('python-muranoclient') }}
BuildRequires:  {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('horizon-plugin-murano-ui') }} = %{version}
BuildArch:      noarch

%description
The Murano UI Horizon plugin adds Murano panel to the OpenStack dashboard.

%package -n    {{ py2pkg('horizon-plugin-murano-ui') }}
Summary:       The Murano Dashboard - Python module
Requires:      {{ py2pkg('Babel') }}
Requires:      {{ py2pkg('Django') }}
Requires:      {{ py2pkg('PyYAML') }}
Requires:      {{ py2pkg('beautifulsoup4') }}
Requires:      {{ py2pkg('django-babel') }}
Requires:      {{ py2pkg('django-formtools') }}
Requires:      {{ py2pkg('python-muranoclient') }}
Requires:      {{ py2pkg('oslo.log') }}
Requires:      {{ py2pkg('pbr') }}
Requires:      {{ py2pkg('semantic_version') }}
Requires:      {{ py2pkg('yaql') }}

%description -n {{ py2pkg('horizon-plugin-murano-ui') }}
The Murano UI Horizon plugin adds Murano panel to the OpenStack dashboard.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%py2_build

%install
%py2_install

install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/
cp -a muranodashboard/local/enabled/*.py %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/
install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/local/local_settings.d/
cp -a muranodashboard/local/local_settings.d/_50_murano.py %{buildroot}%{http_dashboard_dir}/openstack_dashboard/local/local_settings.d/_50_murano.py.example
install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/conf/
cp -a muranodashboard/conf/murano_policy.json %{buildroot}%{http_dashboard_dir}/openstack_dashboard/conf/

%fdupes %{buildroot}%{python2_sitelib}
%fdupes %{buildroot}%{http_dashboard_dir}

%post
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%postun
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%files
%doc ChangeLog CONTRIBUTING.rst README.rst
%license LICENSE
%{http_dashboard_dir}/openstack_dashboard/enabled/*.py
%{http_dashboard_dir}/openstack_dashboard/local/local_settings.d/_50_murano.py.example
%{http_dashboard_dir}/openstack_dashboard/conf/murano_policy.json

%files -n {{ py2pkg('horizon-plugin-murano-ui') }}
%doc README.rst
%license LICENSE
%{python2_sitelib}/muranodashboard
%{python2_sitelib}/murano_dashboard-*.egg-info
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/*.pyc
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/*.pyo

%changelog
