{% set pypi_name = 'freezer-tempest-plugin' %}
{% set rpm_release = '1' %}
{% set source=fetch_source('https://tarballs.openstack.org/freezer-tempest-plugin/freezer-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}

%global sname freezer_tempest_plugin
Name:          {{ py2name(py_versions='py3') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the freezer project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://docs.openstack.org/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('oslo.config') }}
Requires:      {{ py3('oslo.utils') }}
Requires:      {{ py3('paramiko') }}
Requires:      {{ py3('pbr') }}
Requires:      {{ py3('six') }}
BuildArch:     noarch

%description
This package contains Tempest tests to cover the freezer project.
Additionally it provides a plugin to automatically load these tests into Tempest.

%prep
%autosetup -p1 -n %{sname}-{{ upstream_version }}

# Let's handle dependencies ourseleves
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/freezer_tempest_plugin
%{python3_sitelib}/*.egg-info

%changelog
