%global sname oslo.concurrency
Name:           {{ py2name('oslo.concurrency') }}
Version:        3.7.0
Release:        0
Summary:        OpenStack oslo.concurrency library
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://launchpad.net/%{sname}
Source0:        https://pypi.python.org/packages/source/o/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  python-devel
BuildRequires:  {{ py2pkg('enum34') }}
BuildRequires:  {{ py2pkg('eventlet') }}
BuildRequires:  {{ py2pkg('fasteners') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('futures') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('enum34') }}
Requires:       {{ py2pkg('fasteners') }}
Requires:       {{ py2pkg('iso8601') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('retrying') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
The oslo.concurrency library has utilities for safely running multi-thread,
multi-process applications using locking mechanisms and for running
external processes.

%package doc
Summary:        Documentation for OpenStack concurrency library
BuildRequires:  {{ py2pkg('oslosphinx') }}
BuildRequires:  {{ py2pkg('Sphinx') }}

%description doc
The oslo.concurrency library has utilities for safely running multi-thread,
multi-process applications using locking mechanisms and for running
external processes.
This package contains the documentation.

%prep
%setup -q -n %{sname}-%{version}

%build
%{__python2} setup.py build

# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%{__python2}  setup.py install --prefix=%{_prefix} --root=%{buildroot}

%check
%{__python2} setup.py testr

%files
%license LICENSE
%doc README.rst ChangeLog
%_bindir/lockutils-wrapper
%{python2_sitelib}/oslo_concurrency
%{python2_sitelib}/*.egg-info

%files doc
%license LICENSE
%doc doc/build/html

%changelog
