{% set pypi_name = 'heat-tempest-plugin' %}
{% set source=fetch_source('https://tarballs.openstack.org/heat-tempest-plugin/heat-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%global sname heat_tempest_plugin
%global with_doc 0
%global common_desc \
This package contains Tempest tests to cover the heat project. \
Additionally it provides a plugin to automatically load these tests into Tempest.
Name:          {{ py2pkg('heat-tempest-plugin') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the heat project
License:       {{ license('Apache-2.0') }}
Group:         Development/Languages/Python
URL:           https://git.openstack.org/cgit/openstack/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py2pkg('pbr') }}
BuildRequires: {{ py2pkg('setuptools') }}
Requires:      {{ py2pkg('Tempest') }}
Requires:      {{ py2pkg('cinderclient') }}
Requires:      {{ py2pkg('eventlet') }}
Requires:      {{ py2pkg('gabbi') }}
Requires:      {{ py2pkg('gnocchiclient') }}
Requires:      {{ py2pkg('heatclient') }}
Requires:      {{ py2pkg('keystoneauth1') }}
Requires:      {{ py2pkg('kombu') }}
Requires:      {{ py2pkg('neutronclient') }}
Requires:      {{ py2pkg('novaclient') }}
Requires:      {{ py2pkg('os-collect-config') }}
Requires:      {{ py2pkg('oslo.config') }}
Requires:      {{ py2pkg('oslo.log') }}
Requires:      {{ py2pkg('oslo.messaging') }}
Requires:      {{ py2pkg('paramiko') }}
Requires:      {{ py2pkg('pbr') }}
Requires:      {{ py2pkg('six') }}
Requires:      {{ py2pkg('swiftclient') }}
Requires:      {{ py2pkg('testscenarios') }}
Requires:      {{ py2pkg('testtools') }}
Requires:      {{ py2pkg('zaqarclient') }}
BuildArch:     noarch

%description
%{common_desc}

%if 0%{?with_doc}
%package doc
Summary:    Documentation for heat tempest plugin
BuildRequires: {{ py2pkg('Sphinx') }}
BuildRequires: {{ py2pkg('oslosphinx') }}

%description doc
It contains the documentation for the heat tempest tests.
%endif

%prep
%autosetup -n {{ pypi_name }}-{{ upstream_version }}

# Let's handle dependencies ourseleves
%py_req_cleanup
# Remove bundled egg-info
rm -rf %{module}.egg-info

%build
%{py2_build}

# Generate Docs
%if 0%{?with_doc}
%{__python2} setup.py build_sphinx
# remove the sphinx build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}
%endif

%install
%{py2_install}

%files
%license LICENSE
%doc README.rst
%{python2_sitelib}/heat_tempest_plugin
%{python2_sitelib}/*.egg-info

%if 0%{?with_doc}
%files doc
%doc doc/build/html
%license LICENSE
%endif

%changelog
