{% set pypi_name = 'heat-tempest-plugin' %}
{% set source=fetch_source('https://tarballs.opendev.org/openstack/heat-tempest-plugin/heat-tempest-plugin-master.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

Name:          {{ py2name(py_versions='py3') }}
Version:       {{ py2rpmversion() }}
Release:       {{ py2rpmrelease() }}
Summary:       Tempest plugin for the heat project
License:        Apache-2.0
Group:         Development/Languages/Python
URL:           https://docs.openstack.org/{{ pypi_name }}
Source0:       {{ source|basename }}
BuildRequires: openstack-macros
BuildRequires: {{ py3('pbr') }}
Requires:      {{ py2pkg('tempest') }}
Requires:      {{ py3('python-cinderclient') }}
Requires:      {{ py3('eventlet') }}
Requires:      {{ py3('gabbi') }}
Requires:      {{ py3('gnocchiclient') }}
Requires:      {{ py3('python-heatclient') }}
Requires:      {{ py3('keystoneauth1') }}
Requires:      {{ py3('kombu') }}
Requires:      {{ py3('python-neutronclient') }}
Requires:      {{ py3('python-novaclient') }}
Requires:      {{ py3('os-collect-config') }}
Requires:      {{ py3('oslo.config') }}
Requires:      {{ py3('oslo.log') }}
Requires:      {{ py3('oslo.messaging') }}
Requires:      {{ py3('paramiko') }}
Requires:      {{ py3('pbr') }}
Requires:      {{ py3('six') }}
Requires:      {{ py3('python-swiftclient') }}
Requires:      {{ py3('testscenarios') }}
Requires:      {{ py3('testtools') }}
Requires:      {{ py3('python-zaqarclient') }}
BuildArch:     noarch

%description
This package contains Tempest tests to cover the heat project.
Additionally it provides a plugin to automatically load these tests into Tempest.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup

%build
%{py3_build}

%install
%{py3_install}

%files
%license LICENSE
%doc README.rst
%{python3_sitelib}/heat_tempest_plugin
%{python3_sitelib}/*.egg-info

%changelog
