[Unit]
Description=OpenStack Nova Compute Server
After=syslog.target network.target
After=rabbitmq-server.service libvirtd.service libvirt-guests.service

[Service]
Environment=LIBGUESTFS_ATTACH_METHOD=appliance
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=on-failure
User=nova
ExecStart=/usr/bin/nova-compute
TasksMax=infinity

[Install]
WantedBy=multi-user.target
