[Unit]
Description=OpenStack Nova Metadata API Server
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=on-failure
User=nova
PrivateTmp=yes
ExecStart=/usr/bin/nova-api-metadata

[Install]
WantedBy=multi-user.target
