[Unit]
Description=OpenStack Nova Conductor Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=on-failure
User=nova


PrivateTmp=yes
ExecStart=/usr/bin/nova-conductor

[Install]
WantedBy=multi-user.target
