[Unit]
Description=OpenStack Nova XVP VncProxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova


PrivateTmp=yes
ExecStart=/usr/bin/nova-xvpvncproxy
Restart=on-failure

[Install]
WantedBy=multi-user.target

