[Unit]
Description=OpenStack Nova API Server
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=on-failure
User=nova


PrivateTmp=yes
ExecStartPre=-/usr/bin/nova-manage api_db sync
ExecStartPre=-/usr/bin/nova-manage cell_v2 map_cell0
ExecStartPre=-/usr/bin/nova-manage db sync
ExecStart=/usr/bin/nova-api

[Install]
WantedBy=multi-user.target
