[Unit]
Description=OpenStack Heat Engine
After=syslog.target network.target

[Service]
Type=notify
User=heat
Group=heat
WorkingDirectory=/var/lib/heat
PrivateTmp=yes
ExecStart=/usr/bin/heat-engine
Restart=on-failure

[Install]
WantedBy=multi-user.target
