Monasca Transform (https://wiki.openstack.org/wiki/Monasca/Transform) is an
OpenStack service that works with the other Monasca Services.
Thus it needs some additional configuration after installation to establish
the connections between services.

To configure the .rpm installation manually, you will need:

- A running zookeeper server installation
  -- zookeeper.service running
- MySQL installation with a Monasca Transform user created and configured
  -- sql configuration TBD
- If Apache Spark was installed by hand, ensure all needed .jar files are in
  place.  Consult the values in /etc/monasca-transform.conf under
  spark_jars_list for a list of required .jar files.
  -- The monasca-transform Devstack configuration expects .jar files installed
     in /opt/spark/current/lib/.  However, the recommended install location
     for SUSE installs is /usr/share/spark/lib.
  -- Ensure all paths and version numbers match what is installed on the
     target system.
  -- This requirement includes a JDBC driver which will be used by Spark
     on behalf of Monasca Transform.  Drizzle-jdbc works well for this.
- A running Apache Spark installation
  -- spark-master.service and spark-worker.service running
  -- Note: spark will be connecting through drizzle-jdbc to a mysql instance
- The IP address and port that spark is listening on (this can be a
  comma-separated list if spark is running on more than one host)
  -- Replace this in the spark_master_list of /etc/monasca-transform.conf
  -- Default is spark://localhost:7078, though the monasca-transform.conf
     used with Devstack specifies spark://192.168.10.4:7077,192.168.10.5:7077
- And to fully use Monasca Transform, an installation of the other Monasca
  services along with Kafka for communication.  See documentation included
  with the other Monasca services for their configuration options.

Other deployments of Monasca Transform have made use of local state file in
/var/run/monasca/monasca-transform.pid and a work_dir in
/var/run/monasca/monasca-transform/, but in the configuration used by this
.spec file those should not be needed.
