[Unit]
Description=Openstack Neutron VMware DVS Plugin Agent
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/neutron-dvs-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/vmware_dvs_agent.ini --log-file /var/log/neutron/vmware-dvs-agent.log 
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

