%global sname XStatic-Angular-Bootstrap
Name:           {{ py2name('XStatic-Angular-Bootstrap') }}
Version:        2.2.0.0
Release:        0
Summary:        Angular-Bootstrap %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-angular-bootstrap/
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
Angular-Bootstrap JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_Angular_Bootstrap-*.egg-info
%{python2_sitelib}/*-nspkg.pth

%changelog
