Name:           {{ py2name('python-watcherclient') }}
Version:        0.25.1
Release:        0
Summary:        Python API and CLI for OpenStack Watcher
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            http://launchpad.net/%{name}
Source0:        https://pypi.io/packages/source/p/%{name}/%{name}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('PrettyTable') }}
BuildRequires:  {{ py2pkg('cliff') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('python-keystoneclient') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('osc-lib') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.utils') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('setuptools') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('Babel') }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('cliff') }}
Requires:       {{ py2pkg('python-keystoneclient') }}
Requires:       {{ py2pkg('osc-lib') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('six') }}
BuildArch:      noarch

%description
Client library for Watcher built on the Watcher API. It provides a Python API
(the watcherclient module) and a command-line tool (watcher).

%package doc
Summary:        Documentation for OpenStack Watcher API client libary
Group:          Documentation
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}

%description doc
Client library for Watcher built on the Watcher API. It provides a Python API
(the watcherclient module) and a command-line tool (watcher).
This package contains the documentation.

%prep
%autosetup -n %{name}-%{version}
%py_req_cleanup

%build
%py2_build

# Build HTML docs and man page
%{__python2} setup.py build_sphinx
rm -rf html/.{doctrees,buildinfo}

%install
%py2_install

%check
%{__python2} setup.py testr

%files
%doc README.rst
%license LICENSE
%{python2_sitelib}/watcherclient
%{python2_sitelib}/*.egg-info
%{_bindir}/watcher

%files doc
%doc doc/build/html
%license LICENSE

%changelog
