Name:           {{ py2name('oslotest') }}
Version:        2.13.1
Release:        0
Summary:        OpenStack test framework
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
Url:            https://launchpad.net/oslotest
Source0:        https://pypi.io/packages/source/o/oslotest/oslotest-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('debtcollector') }}
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('fixtures') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('mox3') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('fixtures') }}
Requires:       {{ py2pkg('mock') }}
Requires:       {{ py2pkg('mox3') }}
# NOTE: python-os-client-config is only needed for functional testing
# Requires:       {{ py2pkg('os-client-config') }}
Requires:       {{ py2pkg('python-subunit') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('testrepository') }}
Requires:       {{ py2pkg('testtools') }}
BuildArch:      noarch

%description
The Oslo Test framework provides common fixtures, support for debugging, and
better support for mocking results.

%prep
%autosetup -n oslotest-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%check
%{__python2} setup.py test

%files
%license LICENSE
%doc ChangeLog README.rst
%{_bindir}/oslo_debug_helper
%{_bindir}/oslo_run_cross_tests
%{_bindir}/oslo_run_pre_release_tests
%{python2_sitelib}/oslotest
%{python2_sitelib}/oslotest*egg-info

%changelog
