{% set pypi_name = 'XStatic-Rickshaw' %}
{% set upstream_version = upstream_version('1.5.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

%global sname XStatic-Rickshaw
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Rickshaw %{version} (XStatic packaging standard)
License:        {{ license('MIT') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/xstatic-rickshaw/
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
Rickshaw JavaScript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-{{ upstream_version }}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_Rickshaw-*-py?.?.egg-info
%{python2_sitelib}/XStatic_Rickshaw-*-py?.?-nspkg.pth

%changelog
