{% set pypi_name = 'os-vif' %}
{% set upstream_version = upstream_version('1.11.1') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        A library for plugging and unplugging virtual interfaces in OpenStack
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        https://files.pythonhosted.org/packages/source/o/os-vif/os_vif-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('netaddr') }}
BuildRequires:  {{ py2pkg('oslo.concurrency') }}
BuildRequires:  {{ py2pkg('oslo.config') }}
BuildRequires:  {{ py2pkg('oslo.i18n') }}
BuildRequires:  {{ py2pkg('oslo.log') }}
BuildRequires:  {{ py2pkg('oslo.privsep') }}
BuildRequires:  {{ py2pkg('oslo.versionedobjects') }}
BuildRequires:  {{ py2pkg('oslotest') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('pyroute2') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('six') }}
BuildRequires:  {{ py2pkg('stestr') }}
BuildRequires:  {{ py2pkg('stevedore') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('netaddr') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.privsep') }}
Requires:       {{ py2pkg('oslo.versionedobjects') }}
Requires:       {{ py2pkg('pbr') }}
Requires:       {{ py2pkg('pyroute2') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
BuildArch:      noarch

%description
A library for plugging and unplugging virtual interfaces in OpenStack.
Features:
* A base VIF plugin class that supplies a plug() and unplug() interface
* Versioned objects that represent a virtual interface and its components

%package doc
Summary:        Documentation for a library for plugging and unplugging virtual interfaces in OpenStack
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}
BuildRequires:  {{ py2pkg('reno') }}

%description doc
Documentation for a library for plugging and unplugging virtual interfaces
in OpenStack.

%prep
%autosetup -p1 -n os_vif-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{py2_build}

%install
%{py2_install}

# generate html docs
PBR_VERSION={{ upstream_version }} sphinx-build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%check
stestr --test-path="os_vif/tests/unit" run

%files
%license LICENSE
%doc README.rst ChangeLog
%{python2_sitelib}/os_vif
%{python2_sitelib}/vif_plug_ovs
%{python2_sitelib}/vif_plug_linux_bridge
%{python2_sitelib}/vif_plug_noop
%{python2_sitelib}/*.egg-info

%files doc
%license LICENSE
%doc doc/build/html

%changelog
