[Unit]
Description=OpenStack EC2 API service
After=syslog.target network.target

[Service]
Type=notify
User=ec2-api
Group=ec2-api
WorkingDirectory=/var/lib/ec2-api
PrivateTmp=yes
ExecStartPre=-/usr/bin/ec2-api-manage db_sync
ExecStart=/usr/bin/ec2-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
