[Unit]
Description=OpenStack EC2 s3 service
After=syslog.target network.target

[Service]
Type=notify
User=ec2-api
Group=ec2-api
WorkingDirectory=/var/lib/ec2-api
PrivateTmp=yes
ExecStart=/usr/bin/ec2-api-s3
Restart=on-failure

[Install]
WantedBy=multi-user.target
