{% set pypi_name = 'neutron-vpnaas-dashboard' %}
{% set source = fetch_source('http://tarballs.openstack.org/neutron-vpnaas-dashboard/neutron-vpnaas-dashboard-stable-queens.tar.gz') %}
{% set upstream_version = upstream_version() %}
{% set rpm_release = '1' %}

%if 0%{?rhel} || 0%{?fedora}
%global http_dashboard_dir %{_datarootdir}/openstack-dashboard
%else
%global http_dashboard_dir /srv/www/openstack-dashboard
%endif
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        Neutron VPNaaS management plugin for Horizon
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/neutron-vpnaas-dashboard
Source0:        {{ source|basename }}
BuildRequires:  fdupes
BuildRequires:  {{ py2pkg('horizon') }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('django-nose') }}
BuildRequires:  {{ py2pkg('mock') }}
BuildRequires:  {{ py2pkg('mox3') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}
BuildRequires:  {{ py2pkg('pbr') }}
BuildRequires:  {{ py2pkg('python-subunit') }}
BuildRequires:  {{ py2pkg('reno') }}
BuildRequires:  {{ py2pkg('testrepository') }}
BuildRequires:  {{ py2pkg('testscenarios') }}
BuildRequires:  {{ py2pkg('testtools') }}
Requires:       {{ py2pkg('horizon-plugin-neutron-vpnaas-ui') }} = %{version}
BuildArch:      noarch

%description
OpenStack Neutron VPNaaS management plugin for Horizon.

%package -n    {{ py2pkg('horizon-plugin-neutron-vpnaas-ui') }}
Summary:       Neutron VPNaaS Management Plugin for Horizon - Python module
Requires:      {{ py2pkg('Django') }}
Requires:      {{ py2pkg('python-neutronclient') }}
Requires:      {{ py2pkg('pbr') }}

%description -n {{ py2pkg('horizon-plugin-neutron-vpnaas-ui') }}
OpenStack Neutron VPNaaS management plugin for Horizon.

This package contains the core Python module of the neutron-vpnaas-ui.

%package test
Summary:       Neutron VPNaaS Management Plugin for Horizon - Testsuite
Requires:      {{ py2pkg('django-nose') }}
Requires:      {{ py2pkg('mock') }}
Requires:      {{ py2pkg('mox3') }}
Requires:      {{ py2pkg('openstackdocstheme') }}
Requires:      {{ py2pkg('python-subunit') }}
Requires:      {{ py2pkg('reno') }}
Requires:      {{ py2pkg('testrepository') }}
Requires:      {{ py2pkg('testscenarios') }}
Requires:      {{ py2pkg('testtools') }}

%description test
OpenStack Neutron VPNaaS management plugin for Horizon.
It is used to verify the functionality of the Neutron VPNaaS UI Plugin.

%prep
%autosetup -n {{ pypi_name }}-{{upstream_version}}
%py_req_cleanup

%build
%py2_build

%check
PYTHONPATH=%{http_dashboard_dir} python manage.py test neutron_vpnaas_dashboard --settings=neutron_vpnaas_dashboard.test.settings

%install
%py2_install

install -m 0755 -d %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/
cp -a neutron_vpnaas_dashboard/enabled/*.py %{buildroot}%{http_dashboard_dir}/openstack_dashboard/enabled/

%fdupes %{buildroot}%{python2_sitelib}
%fdupes %{buildroot}%{http_dashboard_dir}

%post
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%postun
su %{apache_user} -s /bin/sh -c "python %{http_dashboard_dir}/manage.py collectstatic --noinput --clear > /dev/null"

%files
%doc ChangeLog CONTRIBUTING.rst README.rst
%license LICENSE
%{http_dashboard_dir}/openstack_dashboard/enabled/*.py

%files -n {{ py2pkg('horizon-plugin-neutron-vpnaas-ui') }}
%doc README.rst
%license LICENSE
%{python2_sitelib}/neutron_vpnaas_dashboard/
%{python2_sitelib}/neutron_vpnaas_dashboard-*.egg-info
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/*.pyc
%exclude %{http_dashboard_dir}/openstack_dashboard/enabled/*.pyo
%exclude %{python_sitelib}/neutron_vpnaas_dashboard/test*

%files test
%{python_sitelib}/neutron_vpnaas_dashboard/test*

%changelog
