{% set pypi_name = 'vmware-nsx' %}
{% set upstream_version = upstream_version('13.0.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        VMware-NSX family of Neutron plugins
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/vmware-nsx
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('neutron-lib') }}
BuildRequires:  {{ py2pkg('oslo.vmware') }}
BuildRequires:  {{ py2pkg('tooz') }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.log', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testrepository', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testresources', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('vmware-nsxlib', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PrettyTable') }}
Requires:       {{ py2pkg('SQLAlchemy') }}
Requires:       {{ py2pkg('decorator') }}
Requires:       {{ py2pkg('eventlet') }}
Requires:       {{ py2pkg('httplib2') }}
Requires:       {{ py2pkg('mock') }}
Requires:       {{ py2pkg('netaddr') }}
Requires:       {{ py2pkg('python-openstackclient') }}
Requires:       {{ py2pkg('osc-lib') }}
Requires:       {{ py2pkg('oslo.concurrency') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.db') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
Requires:       {{ py2pkg('tenacity') }}
Requires:       {{ py2pkg('vmware-nsxlib') }}
BuildArch:      noarch
%ifpython2
Requires:       {{ py2pkg('enum34') }}
Requires:       {{ py2pkg('neutron-lib') }}
Requires:       {{ py2pkg('oslo.service') }}
Requires:       {{ py2pkg('oslo.vmware') }}
Requires:       {{ py2pkg('tooz') }}
%endif
%python_subpackages

%description
VMWare NSX plugins for the OpenStack Neutron component

%package -n python-vmware-nsx-doc
Summary:        Documentation for vmware-nsx
Group:          Documentation/HTML
BuildRequires:  fdupes
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('oslosphinx') }}

%description -n python-vmware-nsx-doc
VMWare NSX plugins for the OpenStack Neutron component
This package contains the documentation

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg

%build
%{python_build}
# generate html docs
PBR_VERSION={{ upstream_version }} sphinx-build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}
%fdupes doc/build/html/

%install
%{python_install}
%python_clone -a %{buildroot}%{_bindir}/neutron-check-nsx-config
%python_clone -a %{buildroot}%{_bindir}/nsxadmin
%python_clone -a %{buildroot}%{_bindir}/nsx-migration
# remove duplicates
%fdupes %{buildroot}%{python_sitelib}

# %check
# %{python_expand rm -rf .testrepository
# ostestr
# }

%files %{python_files}
%defattr(-,root,root,-)
%license LICENSE
%{python_sitelib}/vmware_nsx
%{python_sitelib}/*.egg-info
%python_alternative %{_bindir}/neutron-check-nsx-config
%python_alternative %{_bindir}/nsxadmin
%python_alternative %{_bindir}/nsx-migration

%files -n python-vmware-nsx-doc
%license LICENSE
%doc README.rst doc/build/html

%changelog
