[Unit]
Description=OpenStack key and secret management (Barbican) - worker
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=simple
User=barbican
Group=barbican
WorkingDirectory=/var/lib/barbican
PrivateTmp=yes
ExecStart=/usr/bin/barbican-worker

[Install]
WantedBy=multi-user.target