[Unit]
Description=OpenStack designate central service
After=syslog.target network.target
After=mariadb.service postgresql.service rabbitmq-server.service

[Service]
Type=notify
User=designate
Group=designate
WorkingDirectory=/var/lib/designate
PrivateTmp=yes
ExecStart=/usr/bin/designate-central
Restart=on-failure

[Install]
WantedBy=multi-user.target
