{% set pypi_name = 'python-designateclient' %}
{% set upstream_version = upstream_version('3.0.0') %}
{% set rpm_release = '1' %}
%global sname python-designateclient
Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack DNS as a Service - Client
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/%{sname}
Source0:        https://files.pythonhosted.org/packages/source/p/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('jsonschema', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('keystoneauth1', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.serialization', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('requests-mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('setuptools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stestr', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('cliff') }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('jsonschema') }}
Requires:       {{ py2pkg('keystoneauth1') }}
Requires:       {{ py2pkg('osc-lib') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('requests') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
BuildArch:      noarch
%python_subpackages

%description
OpenStack DNS as a Service - Client

%package -n {{ py2name() }}-doc
Summary:        Documentation for the OpenStack DNS as a Service - Client
Group:          Documentation/HTML
BuildRequires:  {{ py3('Sphinx') }}
BuildRequires:  {{ py3('openstackdocstheme') }}

%description -n {{ py2name() }}-doc
Documentation for the OpenStack DNS as a Service - Client.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%python_build

# generate docs
PYTHONPATH=. PBR_VERSION={{ upstream_version }} %sphinx_build -b html doc/source doc/build/html
# remove the sphinx-build leftovers
rm -rf doc/build/html/.{doctrees,buildinfo}

%install
%python_install

%check
%python_exec -m stestr.cli run

%files %{python_files}
%license LICENSE
%doc README.rst
%{python_sitelib}/designateclient
%{python_sitelib}/python_designateclient-%{version}-*.egg-info

%files -n {{ py2name() }}-doc
%license LICENSE
%doc doc/build/html ChangeLog

%changelog
