{% set pypi_name = 'oslo.messaging' %}
{% set upstream_version = upstream_version('6.5.0') %}
{% set rpm_release = '1' %}
{% set source = url_pypi() %}

Name:           {{ py2name() }}
Version:        {{ py2rpmversion() }}
Release:        {{ py2rpmrelease() }}
Summary:        OpenStack oslo.messaging library
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://launchpad.net/{{ pypi_name }}
Source0:        {{ source }}
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('PyYAML', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('WebOb', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('amqp', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('cachetools', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('debtcollector', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('eventlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('fixtures', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('futurist', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('greenlet', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('kafka-python', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('kombu', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('mock', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('monotonic', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.config', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.i18n', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.log', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.middleware', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.serialization', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.service', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslo.utils', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('oslotest', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pbr', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pifpaf', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pika', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pika-pool', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pyngus', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('python-subunit', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('pyzmq', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('redis', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('six', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('stevedore', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('tenacity', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testrepository', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testscenarios', py_versions=['py2', 'py3']) }}
BuildRequires:  {{ py2pkg('testtools', py_versions=['py2', 'py3']) }}
Requires:       {{ py2pkg('PyYAML') }}
Requires:       {{ py2pkg('WebOb') }}
Requires:       {{ py2pkg('amqp') }}
Requires:       {{ py2pkg('cachetools') }}
Requires:       {{ py2pkg('debtcollector') }}
Requires:       {{ py2pkg('futurist') }}
Requires:       {{ py2pkg('greenlet') }}
Requires:       {{ py2pkg('kombu') }}
Requires:       {{ py2pkg('monotonic') }}
Requires:       {{ py2pkg('oslo.config') }}
Requires:       {{ py2pkg('oslo.i18n') }}
Requires:       {{ py2pkg('oslo.log') }}
Requires:       {{ py2pkg('oslo.middleware') }}
Requires:       {{ py2pkg('oslo.serialization') }}
Requires:       {{ py2pkg('oslo.service') }}
Requires:       {{ py2pkg('oslo.utils') }}
Requires:       {{ py2pkg('pika') }}
Requires:       {{ py2pkg('pika-pool') }}
Requires:       {{ py2pkg('six') }}
Requires:       {{ py2pkg('stevedore') }}
Requires:       {{ py2pkg('tenacity') }}
BuildArch:      noarch
%ifpython2
BuildRequires:  {{ py2pkg('futures') }}
Requires:       {{ py2pkg('futures') }}
%endif
%if 0%{?suse_version}
Requires(post): update-alternatives
Requires(postun): update-alternatives
%else
# on RDO, update-alternatives is in chkconfig
Requires(post): chkconfig
Requires(postun): chkconfig
%endif
%python_subpackages

%description
The Oslo messaging API supports RPC and notifications over a number
of different messaging transports.

%package -n {{ py2name() }}-doc
Summary:        Documentation for OpenStack messaging library
BuildRequires:  {{ py2pkg('Sphinx') }}
BuildRequires:  {{ py2pkg('openstackdocstheme') }}

%description -n {{ py2name() }}-doc
The Oslo messaging API supports RPC and notifications over a number
of different messaging transports.
This package contains the documentation.

%prep
%autosetup -p1 -n {{ pypi_name }}-{{ upstream_version }}
%py_req_cleanup
sed -i 's/^warning-is-error.*/warning-is-error = 0/g' setup.cfg
# FIXME(jpena): since version 5.23.0, four tests in the amqp driver are
# failing. Let's remove the tests for now, so we can build a package and
# figure out whatis wrong.
rm -f oslo_messaging/tests/drivers/test_amqp_driver.py

%build
%{python_build}

# generate html docs
%{__python2} setup.py build_sphinx
# remove the sphinx-build leftovers
rm -rf build/sphinx/html/.{doctrees,buildinfo}

%install
%{python_install}
%python_clone -a %{buildroot}%{_bindir}/oslo-messaging-zmq-broker
%python_clone -a %{buildroot}%{_bindir}/oslo-messaging-zmq-proxy
%python_clone -a %{buildroot}%{_bindir}/oslo-messaging-send-notification

%post
%python_install_alternative oslo-messaging-zmq-broker
%python_install_alternative oslo-messaging-zmq-proxy
%python_install_alternative oslo-messaging-send-notification

%postun
%python_uninstall_alternative oslo-messaging-zmq-broker
%python_uninstall_alternative oslo-messaging-zmq-proxy
%python_uninstall_alternative oslo-messaging-send-notification

%check
%{python_expand rm -rf .testrepository
PYTHON=$python $python setup.py testr
}

%files %python_files
%license LICENSE
%doc README.rst ChangeLog
%{python_sitelib}/oslo_messaging
%{python_sitelib}/*.egg-info
%python_alternative %{_bindir}/oslo-messaging-zmq-broker
%python_alternative %{_bindir}/oslo-messaging-zmq-proxy
%python_alternative %{_bindir}/oslo-messaging-send-notification

%files -n {{ py2name() }}-doc
%license LICENSE
%doc build/sphinx/html

%changelog
