%global sname XStatic-Bootstrap-Datepicker
Name:           {{ py2name('XStatic-Bootstrap-Datepicker') }}
Version:        1.3.1.0
Release:        0
Summary:        Bootstrap-Datepicker %{version} (XStatic packaging standard)
License:        {{ license('Apache-2.0') }}
Group:          Development/Languages/Python
URL:            https://git.openstack.org/cgit/openstack/{sname}/
Source0:        https://pypi.io/packages/source/X/%{sname}/%{sname}-%{version}.tar.gz
BuildRequires:  openstack-macros
BuildRequires:  {{ py2pkg('devel') }}
BuildRequires:  {{ py2pkg('setuptools') }}
Requires:       {{ py2pkg('XStatic') }}
BuildArch:      noarch

%description
Bootstrap-Datepicker javascript library packaged for setuptools (easy_install) / pip.

%prep
%autosetup -n %{sname}-%{version}
%py_req_cleanup

%build
%{py2_build}

%install
%{py2_install}

%files
%doc README.txt
%{python2_sitelib}/xstatic
%{python2_sitelib}/XStatic_Bootstrap_Datepicker-%{version}-py?.?.egg-info
%{python2_sitelib}/XStatic_Bootstrap_Datepicker-%{version}-py?.?-nspkg.pth

%changelog
